---
UniqueId: bJHJiHYdmX
Title: Crono Precios
Description: "El modelo de precios es tan sencillo como nuestras soluciones. Se paga en función del número de usuarios. Punto."
Url: crono-precios.html
Layout: layouts/default-page.cshtml
---

<div class="section">
	<div class="container">
		<div class="row">			                    
			<div class="col-md-12">
				<h2>Licencia perpétua con mantenimiento anual</h2>
				<p>El licenciamiento de Crono sigue el modelo de licencia por usuario con mantenimiento anual.</p>
				<ul>
					<li>Cada usuario que utilice los productos Crono debe adquirir la licencia de uso.</li>
					<li>La licencia se paga una única vez y el software puede ser utilizado por un periodo de tiempo indefinido.</li>
					<li>El servicio de mantenimiento incluye soporte técnico personalizado y acceso a todas las actualizaciones del producto.</li>
					<li>El coste del  mantenimiento es el <b>20%</b> del precio de la licencia.</li>
					<li>Al adquirir una licencia perpetua de Crono también debe adquirir el primer año de mantenimiento para cada licencia. </li>
					<li>Al final del primer año tiene la opción de renovar el mantenimiento (para que el software permanezca actualizado con la versión más reciente).</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="section price-listing">
	<div class="container">
		<h2>Lista de precios</h2>
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<div class="panel panel-analysis">
					<div class="panel-heading">
						<h4>LICENCIA DE USUARIO DE NEGOCIO</h4>
					</div>
                    <div class="panel-body">
						
						<img alt="" src="images/logo_crono_analysis.png">
						<p>Analice sus datos y construya informes dinámicos con Crono Analysis y Crono Excel.</p>
						<p>Conéctese a un servidor Crono Server para acceder a sus dashboards y consultar libremente sus datos corporativos (mínimo 5 usuarios).</p>  
						<p class="price">395 €/usuario</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="panel panel-etl">
					<div class="panel-heading">
						<h4>LICENCIA DE TÉCNICO ETL</h4>
					</div>
                    <div class="panel-body">
						<img alt="" src="images/logo_crono_etl.png">
						<p>Diseñe y construya procesos de carga y aprovisionamiento (ETL) de manera rápida, fácil y eficaz.</p>
						<p class="price">1.995 €/usuario</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section considerations">
	<div class="container">
		<p>Tenga en cuenta que:</p>
		<ul>
			<li>La aplicación está instalada localmente en las dependencias del cliente (software On-premises) por lo que se tiene un control total de acceso al sistema.</li>
			<li>La instalación de servidor (Crono Server) no tiene ningún coste adicional (mínimo 5 licencias contratadas).</li>
			<li>La herramienta para construir catálogos (Crono Metadata) no tiene ningún coste adicional (está disponible con la adquisición de la primera licencia)</li>
			<li>Consulte condiciones y precios para opciones de licenciamiento especiales (pago  por uso, SaaS, usuarios ilimitados, etc.).</li>
			<li>Estamos a su disposición para ayudarle a arrancar el proyecto. Podemos ayudarle a probar, instalar, configurar el sistema o formar a su equipo.</li>
		</ul>
		<div class="btn-centered">
			<a class="btn btn-colored" href="crono-contacto.html">Contactar Ahora</a>
		</div>
	</div>
</div>