---
Url: productos.html
Title: "Productos"
Description: " La solución de Crono consta de dos productos principales. Crono Analysis es la herramienta que utilizan los usuarios de negocio para acceder a los datos de la empresa de una manera fácil y sin dependencia de IT. Crono ETL es la solución que utilizan los técnicos para preparar el data warehouse siguiendo buenas prácticas."
Layout: layouts/default-page.cshtml
---

@Include("layouts/products-boxes.cshtml")

<div class="section" id="crono-analysis">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>¿Qué es?</h2>
                <p>Crono Analysis es la herramienta que utiliza el usuario de negocio para consultar informes y cuadros de mando. Si tiene los permisos necesarios, el usuario también puede generar nuevas consultas e informes. Los informes son pantallas dinámicas y muy visuales que combinan tablas con todo tipo de gráficos. Crono permite navegar y visualizar la información desde distintos puntos de vista, de manera agregada o detallada. Gracias a estas avanzadas opciones de visualización, el analista obtiene un conocimiento superior de la información disponible y puede tomar decisiones basadas en datos y no solo en intuiciones.</p>
                <p>La consulta y generación de informes se realiza siempre mediante drag&drop y de manera muy ágil y sencilla. Gracias a la capa semántica, el usuario no necesita conocimientos de programación ni ningún lenguaje extraño para construir comparativas, evoluciones, analizar tendencias, detectar anomalías u oportunidades…</p>
                <p>El siguiente vídeo de presentación de Crono Analysis muestra lo sencillo que resulta crear un cuadro de mando con CRONO.</p>
            </div>
            <div class="col-md-6">
                <img class="logo" src="@Root/images/logo_crono_analysis_white.png" />
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/F6fTBQUyIh8" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="btn-download">
            <a class="btn" role="button" href="@Root/crono-contacto.html">Descargar Crono Analysis</a>
        </div>
    </div>
</div>

<div class="section crono-excel">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="@Root/images/productos/crono_query_01.jpg">
            </div>
			
            <div class="col-md-6">
                <h2>Crono Excel</h2>
                <p>Crono Analysis incluye un complemento de Microsoft Excel 2007 (o superior) para extraer fácilmente la información de los sistemas corporativos y cargarlos directamente en la hoja de cálculo Excel. Los informes generados con Crono Excel se mantienen siempre actualizados y sincronizados con los datos de origen resolviendo así los habituales problemas de los informes Excel (datos desactualizados, incorrectos, o con criterios dispares entre distintos departamentos).</p>
                <p>Desde el primer día, el usuario accede a los datos utilizando su propio lenguaje de negocio, sin necesidad de conocimientos técnicos y sin necesidad de aprender nuevas herramientas. Una vez obtenidos los datos con Crono Excel, el usuario dispone de todas las potentes y conocidas funcionalidades de Excel para preparar los informes del modo más conveniente.</p>
            </div>
        </div>
		
        <div class="btn-download">
            <a class="btn" role="button" href="@Root/crono-contacto.html">Descargar Crono Excel</a>
        </div>
    </div>
</div>
<div class="section" id="crono-etl">
    <div class="container">
		<img class="logo" src="@Root/images/logo_crono_etl_white.png" />
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="@Root/images/productos/etl-grafic.png">
            </div>
			
            <div class="col-md-6">
                <h2>Data Warehouse</h2>
                <p>Crono ETL es una herramienta especializada en la creación de los procesos de aprovisionamiento de data warehouses.</p>
                <p>En organizaciones medianas y grandes se recomienda siempre la creación de bases de datos específicas para los procesos analíticos. Estas bases de datos analíticas se llaman “data warehouse” y están diseñadas para responder rápidamente las consultas masivas de los usuarios.</p>
                <p>Los procesos ETL (Extracción, Transformación, y Carga) son los responsables de cargar diariamente el DWH a partir de los sistemas transaccionales de la empresa.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <h4>Facilidad de desarrollo y máximo rendimiento con Crono ETL</h4>
                <p>La parte más compleja de cualquier proyecto BI y donde se invierte más tiempo y más recursos es precisamente el diseño y construcción de estas bases de datos.</p>
                <p>Crono ETL es la mejor solución para crear estos procesos de una manera rápida, segura, óptima y mantenible. Nuestro software se ha diseñado precisamente para facilitar la creación de estos procesos de carga y para asegurar unos elevados estándares de calidad durante el ciclo de vida del proyecto.</p>
                <p>Crono ETL es un generador de código SQL optimizado para las necesidades de los proyectos DWH. De manera totalmente automática, Crono ETL genera el código más farragoso y complicado de los procesos de carga (estrategias de carga, logs, auditoría,…), por lo que el programador puede centrarse en lo verdaderamente importante y lo que genera valor para el proyecto: Diseñar un buen modelo de datos y aplicar correctamente las reglas de negocio definidas por el usuario.</p>
            </div>
			
            <div class="col-md-6">
                <h4>Metodologías ágiles</h4>
                <p>Defendemos que las metodologías ágiles son la única opción razonable de realizar un proyecto de desarrollo hoy en día. Es necesario entregar resultados de manera muy rápida e incremental, y es necesario diseñar aplicaciones mantenibles y que crezcan y evolucionen del mismo modo que lo hace el Negocio.</p>
                <p>Crono ETL tiene estas consideraciones en cuenta y ofrece muchas características que favorecen la correcta aplicación de las metodologías ágiles (seguimiento de patrones de desarrollo, paradigmas DRY y KISS, facilidades para el control del código fuente, extracción de metadata, automatización de tareas, y un largo etcétera).</p>
            </div>
        </div>
    </div>
</div>
<div class="section solutions">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Solución para todo tipo de proyectos y empresas</h2>
                <p>Crono resulta útil para todo tipo de empresas y proyectos. Nuestros clientes son Administraciones Públicas y empresas de todos los sectores, desde grandes empresas multinacionales hasta comercios u organizaciones locales. Con Crono se puede hacer el seguimiento de los gastos de una pequeña agencia de viajes hasta controlar la producción y distribución de cientos de miles de SKU…</p>
            </div>
        </div>
    </div>
</div>
<div class="section features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Características</h2>
                <p>Crono Analysis y Crono Excel tienen una apariencia extremadamente amigable y sencilla. Crono Analysis tiene una sola pestaña en la cinta de opciones y tiene apenas una decena de botones. Sin embargo, el usuario encontrará todas las opciones que necesita para generar sus informes.</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="col-md-12 table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th><p>Nombre de la característica</p></th>
                                <th><p>Crono Analysis</p></th>
                            </tr>
                        </thead>
                        <tbody class="body-table">
                            <tr>
                                <td data-title="Nombre de la característica"><p>Generación de informes con tablas y gráficos</p></td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Variedad de gráficos (líneas, barras, puntos, burbuja, área, curvas, dispersión)</p></td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Variedad de tablas (tablas dinámicas, tablas invertidas, subtotales) </p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Velocímetros</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Uso de capa semántica</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Campos Calculados</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Acceso rápido a cálculos habituales (variaciones, incrementos, porcentajes respecto el total ,  etc.)</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Filtros de informe y filtros de consulta</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Filtros de columna</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Alertas semafóricas</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Informes dinámicos</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Exportación a Excel</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Exportación a otros formatos (HTML, CSV, TXT, JPG, …)</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Informes locales</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Informes en servidor</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Opciones OLAP</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                            <tr>
                                <td data-title="Nombre de la característica"><p>Vista presentación</p> </td>
                                <td data-title="Crono ETL"><p>Sí</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>