---
Url: index.html
Title: "Data warehouse fácil"
Description: "Data warehouse fácil recoje buenas prácticas en entornos DWH/Business Intelligence. Contiene los mejores artículos de Ralph Kimball en español."
---
<!DOCTYPE html>
<html lang="en">
@Include("layouts\head.cshtml")
@{var ultimos = (from article in Site.Pages orderby article.Date descending select article).Take(5);}
<body class="home">
    <div class="cabecera-home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 logo-desktop">
                    <a class="header-divider" href="index.html"><img src="@Root/images/logo-datawarehouse-white.png" width="250" height="25" alt="" /></a>
                    <a class="indice" href="kimball-archive.html">Índice Artículos</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 boton-desktop">
                    <a class="btn btn-lg btn-header" href="ralph-kimball-books.html" role="button">Comprar Libro</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-menu-home">
                <ul class="nav nav-pills">
                    <li><a class="scroll" href="#presentacion">Presentación</a></li>
                    <li><a class="scroll" href="#suscribirse">Suscribirse</a></li>
                    <li><a class="scroll" href="#articulos">Artículos</a></li>
                    <li><a class="scroll" href="#about-kimball">Kimball Group</a></li>
                    <li><a class="scroll" href="#ralph-kimball">Ralph Kimball</a></li>
                    <li><a class="scroll" href="#crono">Crono</a></li>
                </ul>
                <div class="recientes">
                    <div>
                        <h4>ÚLTIMOS ARTÍCULOS</h4>
                        @foreach (var article in ultimos.Take(3))
                        {
                            <p><a href="@Root/@article.Url">@article.Title</a></p>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="presentacion">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/F6fTBQUyIh8" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>Business intelligence fácil</h3>
                    <p>Crono es una plataforma de Business Intelligence que cubre las necessidades de principio a fin de los proyectos BI. Su principal caracteristica es la facilidad de uso de todos sus productos. Con Crono cualquiera puede consultar o construir soficticados informes o vistosos cuadros de mando</p>
                    <p>Crono es adecuado para pequeños proyectos, proyectos departamentales y también para proyectos corporativos de grandes dimensiones, ya que combina perfectamente la facilidad de uso que espera el usuario de negocio con tods las características técnicas y funcionales que requieren los análisis más avanzados</p>
                </div>
            </div>
        </div>
    </div>

    <div class="informarse">
        <div class="container">
            <div class="row row-centered">
                <div class="col-md-4 col-centered">
                    <div class="panel panel-analysis">
                        <div class="panel-body">
                            <img src="@Root/images/logo_crono_analysis.png" />
                            <p>Crono Analysis revoluciona la manera de acceder a la información. Con Crono Analysis los usuarios pueden realizar estudios de mercado, analizar tendencias o detectar situaciones anómalas de una manera rápida, visual y fiable.</p>
                        </div>
                        <div class="panel-footer">Informarse</div>

                    </div>
                </div>
                <div class="col-md-4 col-centered">
                    <div class="panel panel-etl">
                        <div class="panel-body">
                            <img src="@Root/images/logo_crono_etl.png" />
                            <p>Crono ETL reimagina la manera de crear los procesos de aprovisionamiento del Data Warehouse Corporativo.</p>
                        </div>
                        <div class="panel-footer">Informarse</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="descargar">
        <div class="container">
            <div class="row row-centered">
                <div class="col-md-4 col-centered">
                    <h3>Ten tu empresa al día</h3>
                    <p>Descarga la versión de evaluación para comprobar lo sencillo que resulta controlar tus indicadores de negocio. Crono es una aplicación moderna y potente y puede ayudarte tanto si quieres analizar las ventas, los stocks, la rentabilidad o cualquier otro KPI de tu negocio.</p>
                        <a class="boton-descargar" role="button" href="https://crono-md5.s3.amazonaws.com/CronoAnalytics/CronoAnalysis/Last/CronoAnalysis.msi">DESCARGAR</a>
                </div>
            </div>
        </div>
    </div>

    <div class="clientes">
        <div class="container">
            <div class="row row-centered">
                <div class="col-md-8 col-centered">
                    <h3>Clientes</h3>
                </div>
               
            </div>
            <div class="row row-centered">
                <div class="col-md-2 col-centered">
                            <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C1.jpg" />
                    </div>
                <div class="col-md-2 col-centered">
                        <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C2.jpg" />
                    </div>
                <div class="col-md-2 col-centered">
                        <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C3.jpg" />
                    </div>
                <div class="col-md-2 col-centered">
                        <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C4.jpg" />
                    </div>
                        </div>
            
            <div class="row row-centered">
                <div class="col-md-2 col-centered">
                        <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C5.jpg" />
                    </div>
                <div class="col-md-2 col-centered">
                        <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C6.jpg" />
                    </div>
                <div class="col-md-2 col-centered">
                        <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C7.jpg" />
                    </div>
                <div class="col-md-2 col-centered">
                        <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C8.jpg" />
                    </div>
            </div>
            <div class="row row-centered">
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C9.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C10.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C11.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C12.jpg" />
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C13.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C14.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C15.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C16.jpg" />
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C17.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C18.jpg" />
                </div>

            </div>
            
        </div>
    </div>

    @Include("layouts/footer.cshtml")
    @Include("layouts/scripts.cshtml")
    <script>
        $(document).ready(function () {
            $(".scroll").click(function (event) {
                //bloqueamos la función del anchor original
                event.preventDefault();
                //dirigimos de manera animada al id del anchor
                $('html,body').animate({
                    //le indicamos al scroll vertical que se dirija al objeto con el id
                    //guardado en el anchor a su posición top.
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
</body>
</html>
