---
Url: servicios.html
Title: "Servicios"
Description: "Somos especialistas en proyectos Business Intelligence. Podemos ayudarte a construir el data warehouse corporativo. Podemos resolver los problemas que tienen los usuarios para acceder a la información de tu organización."
Layout: layouts/default-page.cshtml
---

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="@Root/images/sliders/servicios_consultoria.png">
            </div>
            <div class="col-md-9">
                <h2>Consultoria business intelligence</h2>
                <p>Nos gusta el Business Intelligence y seguimos metodologías ágiles para obtener resultados de manera rápida, continua e incremental.</p>
                <p>Utilizamos nuestras propias herramientas o nos complementamos con soluciones de otros fabricantes.</p>
                <a class="btn btn-right btn-blue" role="button" href="https://businessintelligence.es/crono-contacto.html">Podemos ayudarte</a>
            </div>
        </div>
    </div>
</div>

<div class="section yellow-background data-consultor">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Consultoria data warehouse</h2>
                <p>Somos expertos en todo lo relacionado con proyectos DWH.</p>
                <p>Podemos ayudarte tanto si quieres construir un data warehouse, un nuevo datamart, o resolver incidencias en la calidad del dato o en los tiempos de carga en un sistema existente.</p>
                <a class="btn" role="button" href="https://businessintelligence.es/crono-contacto.html">Pide presupuesto</a>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="@Root/images/sliders/servicios_warehouse.png">
            </div>

        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="@Root/images/sliders/servicios_formacion.png">
            </div>
            <div class="col-md-9">
                <h2>Formación business intelligence</h2>
                <p>También ofrecemos formación en BI, DWH y metodologías ágiles. Si quieres formar un equipo interno en este tipo de proyecto, podemos trabajar mano a mano, o podemos realizar formación a medida adaptada a vuestras necesidades.</p>
                <a class="btn btn-right btn-blue" role="button" href="https://businessintelligence.es/crono-contacto.html">Pregúntanos</a>
            </div>
        </div>
    </div>
</div>
