/**
 * Name: default.css
 *
 * -
 *
 * The default color scheme for the template
 *
 */
 
/* ==========================================================================
   =Typography
   ========================================================================== */
	 
	body {
		background-color: #fff;
		color: #7a7885;
	}
		
	h1 a, 
	h2 a, 
	h3 a, 
	h4 a, 
	h5 a, 
	h6 a { 
		color: #7a7885;
	}
	
	abbr[title] {  
		border-bottom: 1px dotted #999; 
	}
	
	blockquote span { 
		color: #999999;  
	}

	hr { 
		border: solid #e0e0e0; 
	}
	
	code { 
		border: 1px solid #e0e0e0;
		background-color: #f3f3f3;  
		color: #d50f25;  
	}
	
	pre { 
		border: 1px solid #e0e0e0;   
		background-color: #f3f3f3; 
	}
	
	.hr { 
		border-top: 1px solid #e0e0e0;  
	}
	
	.text-highlight { 
		background-color: #f6f6f6; 
		color: #7a7885; 
	}
	
	.mute{ color: #999; }
	
	@media (max-width: 767px) {
	 
		body { 
			background-color: #fff; 
		}

	}

/* ==========================================================================
   =Typography - Links
   ========================================================================== */
	
	a, 
	a:visited { 
		color: #5c5a69; 
	}
	
	a:active {
 		background: transparent;
	}
	
	a:hover, 
	a:focus {
		color: #5c5a69;
	}	

/* ==========================================================================
   =Typography - Tables
   ========================================================================== */

	table { 
		background-color: transparent; 
	}

	table th, 
	table td {
		border-top: 1px solid #7a7885;
	}
	
/* ==========================================================================
   =Typography - Forms
   ========================================================================== */

	label span { color: #d50f25; }
	
	input,
	textarea,
	select {
		border: 2px solid #d7d7d7;
		background: #fff;
	}
	
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	textarea:focus {
		border-color: #7a7885;	
	}
	
	select:focus {
	  outline: thin dotted #bbb;
	}
	
	input:-moz-placeholder,
	textarea:-moz-placeholder {
		color: #999;
	}
	
	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {
		color: #999;
	}
	
	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		color: #999;
	}

/* ==========================================================================
   =Misc
   ========================================================================== */
   
	.javascript-required,
	.modern-browser-required {
		background-color: #d50f25;
		color: #fff;
	}

/* ==========================================================================
   =Accordions and toggles
   ========================================================================== */

/* =Accordion
   ========================================================================== */

	.accordion-item {
		border-top: 1px solid #e0e0e0;
	}
	
	.accordion-item:after {
		color: #e0e0e0;
	}
	
	.accordion-item.active:after {
		color: #7a7885;
	}
	
/* =toggle
   ========================================================================== */

	.toggle-item {
		border-top: 1px solid #e0e0e0;
	}
	
	.toggle-item:after {
		color: #e0e0e0;
	}
	
	.toggle-item.active:after {
		color: #7a7885;
	}

/* ==========================================================================
   =Alerts
   ========================================================================== */

	.alert {
		background-color: #b7cc99;
		color: #fff;
	}
	
	.alert.info { 
		background-color: #f3f3f3;
		color: #7a7885;
	}
	
	.alert.success { 
		background-color: #e5e5e5;
		color: #7a7885
	}
	
	.alert.error { 
		background-color: #7a7885;
		color: #fff;
	}
	
	.alert.warning {
		background-color: #a1a1a1;
		color: #fff;
	}
   
/* ==========================================================================
   =Buttons
   ========================================================================== */

/* =Default Button
   ========================================================================== */
   
	.btn { 
		border: 2px solid #7a7885;
		background-color: transparent;
		color: #7a7885;
	}
	
	a.btn { color: #7a7885; }
	
	.btn:hover { 
		background: #7a7885;
		color: #fff;
	}

/* ==========================================================================
   =Clients logo slider
   ========================================================================== */
	
	.client-details {
		border: 2px solid #7a7885;
		background-color: #fff;
	}
	
	.client-details:before {
		border-top: 15px solid #7a7885;
		border-right: 10px solid transparent; 
		border-left: 10px solid transparent;
	}
	
	.client-details:after {
		border-top: 13px solid #fff;
		border-right: 8px solid transparent; 
		border-left: 8px solid transparent;
	}
   

/* ==========================================================================
   =Custom Lists
   ========================================================================== */
	
	ul.check li:before {
		background-color: #f6f6f6;
		color: #7a7885;
	}

/* ==========================================================================
   =Dividers
   ========================================================================== */
	
	.divider.single-line { border-top: 1px solid #e0e0e0; }
	
	.divider.double-line { border-top: 4px double #e0e0e0; }
	
	.divider.single-dotted {
		 background: url(../../images/bg-single-dotted.gif) repeat-x top left ;  
	}
	
	.divider.double-dotted { 
		background: url(../../images/bg-double-dotted.gif) repeat-x top left; 
	}	
   
/* ==========================================================================
   =Google Maps
   ========================================================================== */
	
	.map-overlay {
		background-color: #fff;
	}
	
	@media (max-width: 767px) {
		
		.map-overlay {
			background-color: transparent;
		}
		
	}

/* ==========================================================================
   =Headlines
   ========================================================================== */
	
	.headline h2:after {
		border-bottom: 4px solid #7a7885;
	}
	
	
/* ==========================================================================
   =Icon Boxes
   ========================================================================== */

/* =Icon Box 1
   ========================================================================== */
		
	.icon-box-1 > i { 
		background-color: #7a7885;
		color: #fff;
	}
	
	.icon-box-1:hover > i { background-color: #5c5a69; }

/* =Icon Box 2
   ========================================================================== */
	
	.icon-box-2 > i {
		background-color: #7a7885;		
		color: #fff;
	}
	 
	.icon-box-2 .icon-box-content { 
		border: 2px solid #7a7885;  
	}
	
	.icon-box-2:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
	.icon-box-2:hover a { color: #fff; }
	
	.icon-box-2:hover > i { background-color: #5c5a69; }
	
/* ==========================================================================
   =Odometer
   ========================================================================== */
	
	.odometer:before {
		border-top: 8px solid #7a7885;
	}
	
/* ==========================================================================
   =Our Process
   ========================================================================== */

/* =Horizontal process
   ========================================================================== */
	
	.horizontal-process-builder:before {
		border-top: 2px solid #7a7885;
	}
	
	.horizontal-process-builder li i,
	.horizontal-process-builder li h1,
	.horizontal-process-builder li img {
		border: 2px solid #7a7885;
		outline: 5px solid #fff;
		background-color: #fff;
		color: #7a7885;
	}
	
	.horizontal-process-builder li:hover i,
	.horizontal-process-builder li:hover h1 { 
		background-color: #7a7885;
		color: #fff;
	}

/* ==========================================================================
   =Pricing Tables
   ========================================================================== */

	.pricing-table {
		border: 2px solid #7a7885;
	}
	
	.pricing-table-offer ul li:after {
		border-bottom: 4px solid #d7d7d7;
	}
	
	.pricing-table:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
	.pricing-table:hover .btn {
		border-color: #fff;
		color: #fff; 
	}
	
	.pricing-table:hover .btn:hover { background-color: #5c5a69; }

/* ==========================================================================
   =Progress Bar
   ========================================================================== */
	
	.progress-bar {
		background-color: #d7d7d7;
	}
	
	.progress-bar .progress-bar-outer {
		background-color: #7a7885;
	}

/* ==========================================================================
   =Social Media
   ========================================================================== */

	a.social-icon {
		border: 2px solid #7a7885;
	}
	
	a.social-icon:hover {
		border-color: #d7d7d7;
		color: #d7d7d7;
	}

/* ==========================================================================
   =Styled Tables
   ========================================================================== */

	.table-bordered { 
		border: 1px solid #7a7885;  		
	}
	
	.table-bordered th, 
	.table-bordered td { border-left: 1px solid #7a7885; }
	
	.table-striped tbody tr:nth-child(odd) td,
	.table-striped tbody tr:nth-child(odd) th { background-color: #f6f6f6; }	

	@media (max-width: 480px) {
		
		tr { border-top: 1px solid #5c5a69; }
	  
	}

/* ==========================================================================
   =Tabs
   ========================================================================== */

/* =Horizontal tabs
   ========================================================================== */
	
	.tabs-container .tabs-menu li a { 
		border-top: 2px solid #f6f6f6;
		background-color: #f6f6f6;
		color: #7a7885;
	}
	
	.tabs-container .tabs-menu li a:hover {
		border-top-color: #7a7885; 
	}
	
	.tabs-container .tabs-menu li.active a {
		border-top-color: #7a7885; 
		background-color: transparent; 
	}
	
	@media (max-width: 767px) {
	
		.tabs-container .tabs-menu li a { 
			border: 1px solid #7a7885;
		}
		
		.tabs-container .tabs-menu li:first-child a { border-top: 1px solid #7a7885; }
		
		.tabs-container .tabs-menu li.active a {  
			border-bottom-color: #5c5a69;
			background-color: #fff; 
		}
	  
	}
	
/* ==========================================================================
   =Portfolio Item
   ========================================================================== */
	
	.portfolio-item-overlay {
		background-color: rgba(122, 120, 133, 0.5);
	}
	
	.portfolio-item-overlay:before {
		color: #fff;
	}
	
	.portfolio-item:hover .portfolio-item-description {
		background-color: #7a7885;
		color: #fff;
	}
	
	.portfolio-item.alt:hover .portfolio-item-description { 
		background-color: transparent;
		color: #7a7885;
	}
	
/* ==========================================================================
   =Portfolio Filter
   ========================================================================== */
	
	.portfolio-filter ul li a {
		border: 2px solid #7a7885;
	}
	
	.portfolio-filter ul li a:hover,
	.portfolio-filter ul li a.active {
		background-color: #7a7885;
		color: #fff; 
	}

/* ==========================================================================
   =Portfolio Pagination
   ========================================================================== */

	.pagination a {  
		border: 2px solid #7a7885;
	}
	
	.pagination li.current a,
	.pagination li a:hover { 
		background-color: #7a7885; 
		color: #fff; 
	}
   
/* ==========================================================================
   =Contact form
   ========================================================================== */
	
	label.validation-error { color: #d50f25; }
	
	input.validation-error,
	textarea.validation-error,
	select.validation-error { border: 1px solid #e0e0e0; }  
	         
/* ==========================================================================
   =Blog
   ========================================================================== */
	
	.blog-post-title p {
		background-color: #f6f6f6;
	}
	
	.blog-post-info {
		background-color: #7a7885;
		color: #fff;
	}

/* ==========================================================================
   =Fullwidth Section
   ========================================================================== */
	 
   .fullwidth-section {
		background-color: #f6f6f6;	
	}
	
	.fullwidth-section.dark-bg { 
		background-color: #333;
		color: #fff;
	}
	
	.fullwidth-section .tabs-container .tabs-menu li a { 
		background-color: transparent;
		border-top-color: transparent;
	}
	
	.fullwidth-section .tabs-container .tabs-menu li a:hover,
	.fullwidth-section .tabs-container .tabs-menu li.active a { border-color: #7a7885; }
	
	.fullwidth-section .blog-post-title p { background-color: transparent; }
	
	.fullwidth-section .table-striped tbody tr:nth-child(odd) td,
	.fullwidth-section .table-striped tbody tr:nth-child(odd) th { background-color: transparent; }
	
	.fullwidth-section.dark-bg a,
	.fullwidth-section.dark-bg .tabs-container .tabs-menu li a { color: #fff; }
	
	.fullwidth-section.dark-bg .btn,
	.fullwidth-section.dark-bg .headline h2:after,
	.fullwidth-section.dark-bg .icon-box-2 .icon-box-content,
	.fullwidth-section.dark-bg .milestone .milestone-value:before,
	.fullwidth-section.dark-bg .odometer:before,
	.fullwidth-section.dark-bg .tabs-container .tabs-menu li a:hover,
	.fullwidth-section.dark-bg .tabs-container .tabs-menu li.active a,
	.fullwidth-section.dark-bg .pricing-table, 
	.fullwidth-section.dark-bg .portfolio-filter ul li a,
	.fullwidth-section.dark-bg .pagination a,
	.fullwidth-section.dark-bg table th, 
	.fullwidth-section.dark-bg table td,
	.fullwidth-section.dark-bg .table-bordered { border-color: #fff; }
	
	
	/* Backgrounds for fullwidth sections */
	
	#bg-video { 
		background-image: url(../../../_content/backgrounds/1920x800.jpg);
	}
	
	#bg-2 {
		background-image: url(../../../_content/backgrounds/1920x800.jpg);
	}
	
	#bg-7 { 
		background-image: url(../../../_content/backgrounds/1920x2880.jpg);
	}
	
	@media (max-width: 767px) {
		
		.fullwidth-section .tabs-container .tabs-menu li a { border-color: #7a7885; }
		
		.fullwidth-section .tabs-container .tabs-menu li.active a,
		.fullwidth-section .tabs-container .tabs-menu li a:hover { 
			background-color: #fff;
			color: #7a7885;
		}
		
		.fullwidth-section.dark-bg .tabs-container .tabs-menu li a { border-color: #fff; }
		
	}
	
/* ==========================================================================
   =WordPress Default Classes
   ========================================================================== */
	
	.wp-caption {
		border: 1px solid #e0e0e0;
		background: #fff;
	}
	
/* ==========================================================================
   =WordPress Widgets
   ========================================================================== */
	
/* =Search Widget
   ========================================================================== */
	
	#searchsubmit {
		background: url(../../images/bg-search.png) no-repeat center center;
	}
	
/* =Pages Widget
   ========================================================================== */
	
	.widget_pages li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.widget_pages a:hover,
	.widget_pages li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
/* =Archive Widget
   ========================================================================== */
	
	.widget_archive li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.widget_archive a:hover,
	.widget_archive li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}	
	
/* =Categories Widget
   ========================================================================== */
	
	.widget_categories li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.widget_categories a:hover,
	.widget_categories li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
/* =Meta Widget
   ========================================================================== */
	
	.widget_meta li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.widget_meta a:hover,
	.widget_meta li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
/* =Tag Cloud Widget
   ========================================================================== */
	
	.widget_tag_cloud a {
		border: 2px solid #7a7885;
		background-color: transparent;
		color: #7a7885;
	}
	
	.widget_tag_cloud a:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
/* =Nav Menu Widget
   ========================================================================== */
	
	.widget_nav_menu li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.widget_nav_menu a:hover,
	.widget_nav_menu li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}

/* ==========================================================================
   =WordPress Custom Widgets
   ========================================================================== */
	
/* =EWF Newsletter subscribe widget
   ========================================================================== */
	
	#newsletter-subscribe-form input[type="text"] { 
		border-bottom: 1px solid #7a7885;
	}
	
	#newsletter-subscribe-form input[type="submit"]:hover { background-color: #5c5a69; }

/* =EWF Latest posts widget
   ========================================================================== */
	
	.ewf_widget_latest_posts .post-details {
		background-color: #f6f6f6;
	}
	
/* =EWF Navigation widget
   ========================================================================== */
	
	.ewf_widget_navigation li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.ewf_widget_navigation a:hover,
	.ewf_widget_navigation li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}	

/* ==========================================================================
   =WordPress Comments
   ========================================================================== */
	.commentlist .reply a {
		border: 2px solid #7a7885;
		background-color: transparent;
		color: #7a7885;
	}
	
	.commentlist .reply a:hover {
		background-color: #7a7885;
		color: #fff;
	}	
	
/* ==========================================================================
   =Wrap
   ========================================================================== */

	#wrap {		
		background-color: #fff;
	}
	
/* ==========================================================================
   =Menu 
   ========================================================================== */
/* =Menu Skin
   ========================================================================== */
	
	.sf-menu a {
		border-bottom: 1px solid #d7d7d7;
		color: #fff; 	
	}
	
	.sf-menu > li > a,
	.sf-menu > li.dropdown > a {
		color: #7a7885;
	}
	
	.sf-menu > li.current > a,
	.sf-menu > li > a:hover,
	.sf-menu li.sfHover > a { 
		color: #565462;
	}

/* =DropDown
   ========================================================================== */
	
	.sf-menu li.dropdown ul {
		border: 1px solid rgba(0, 0, 0, 0.1);	
		background-color: #7a7885;			
	}
		
	.sf-menu > li.dropdown > ul li a:hover,
	.sf-menu > li.dropdown > ul li.sfHover > a { color: #d7d7d7; }
		
/* =Mega Menu Section
   ========================================================================== */
	
	.sf-mega {
		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: #7a7885;
		color: #fff;
	}

	.sf-mega-section {
		border-right: 1px solid #d7d7d7;
	}
	
	.sf-mega-section a:hover { color: #d7d7d7; }
	
	.sf-mega-section .btn {
		border: 2px solid #fff;
	}
	
/* =Menu Arrows
   ========================================================================== */
	
	.sf-arrows .sf-with-ul:after {
		border: 4px solid transparent;
		border-top-color: #7a7885;
	}
		
	.sf-arrows ul .sf-with-ul:after {
		border-color: transparent;
		border-left-color: #fff;
	}
	
/* ==========================================================================
   =Mobile Menu 
   ========================================================================== */
			
	#mobile-menu {
		border-bottom: 1px solid #e0e0e0;
	}
	
	#mobile-menu .sf-mega {
		background-color: #fff;
	}

	#mobile-menu li a {
		border-top: 1px solid #e0e0e0;
		color: #111;
	}
	
	#mobile-menu .mobile-menu-submenu-arrow {
		border-left: 1px solid #e0e0e0;
		color: #111;
	}
	
	#mobile-menu .mobile-menu-submenu-arrow:hover { background-color: #f3f3f3; }		
		
/* ==========================================================================
   =Custom search form 
   ========================================================================== */
	
	#custom-search-button { 
		border: 2px solid #7a7885;
		background: url(../../images/bg-search.png) no-repeat center center;
	}
	
	#custom-search-form-container {
		background-color: rgba(246,246,246,0.95);
	}
	
	#custom-search-form #s {
		border-color: #7a7885;
		background-color: #fff;
	}
	
	#custom-search-submit {
		background: url(../../images/bg-search.png) no-repeat center center;
	}
	
	#custom-search-form #s:focus { border-color: #5c5a69; }

/* ==========================================================================
   =Sticky Header
   ========================================================================== */

	@media (min-width: 1025px) {
		
		#header.stuck {
			border-bottom: 1px solid #e0e0e0;
			background-color: rgba(255, 255, 255, 0.95);
		}
	
	}

/* ==========================================================================
   =Page Header
   ========================================================================== */
   	
	#page-header {
		color: #fff;
	}
	
	#page-header h1 {
		background-color: #7a7885;
	}
   
/* ==========================================================================
   =Footer wrapper
   ========================================================================== */
	
	#footer-wrapper {
		background-color: #7a7885;
		color: #fff;
	}
	
	#footer-wrapper a { color: #fff; }
	
	#footer-wrapper .widget_categories li:nth-child(even) a,
	#footer-wrapper .widget_archive li:nth-child(even) a,
	#footer-wrapper .widget_pages li:nth-child(even) a,
	#footer-wrapper .widget_meta li:nth-child(even) a,
	#footer-wrapper .widget_nav_menu li:nth-child(even) a,
	#footer-wrapper .ewf_widget_navigation li:nth-child(even) a,
	#footer-wrapper .ewf_widget_latest_posts .post-details,
	#footer-wrapper .widget_tag_cloud a:hover { background-color: #5c5a69; }
	
	#footer-wrapper .widget_tag_cloud a,
	#footer-wrapper .ewf_widget_social_media a.social-icon { border-color: #d7d7d7; }
	
	#footer-wrapper .ewf_widget_social_media a.social-icon:hover {
		border-color: #9b9aa2;
		color: #9b9aa2;
	}
	
	#footer-wrapper .slider-control span:hover { border-color: #fff; }
	#footer-wrapper .slider-control span:hover a { color: #fff; }	
	
/* ==========================================================================
   =Footer Bottom
   ========================================================================== */	
  
	#footer + #footer-bottom { border-top: 1px solid #fff; }
	
/* ==========================================================================
   =Back to top
   ========================================================================== */

	#back-to-top {
		background-color: #111;
		color: #fafafa;
	}
	
	#back-to-top:hover { background-color: rgba(0, 0, 0, 0.7); }
	#back-to-top:hover i { color: #fff; }	

/* ==========================================================================
   =Loader
   ========================================================================== */

	.bx-wrapper .bx-loading {
		background: #fff url(../../js/bxslider/images/bx_loader.gif) no-repeat center center;
	}

/* ==========================================================================
   =Pager
   ========================================================================== */

	.bx-wrapper .bx-pager {
		color: #111;
	}
	
	.bx-wrapper .bx-pager.bx-default-pager a {
		background: #9b9aa2;	
	}
	
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active { background: #7a7885; }

/* ==========================================================================
   =Directional Controls (Next / Prev)
   ========================================================================== */

	.bx-wrapper .bx-prev {
		background: url(../../images/left-2.png) no-repeat center center;
	}
	
	.bx-wrapper .bx-next {
		background: url(../../images/right-2.png) no-repeat center center;
	}
	
	.bx-wrapper .bx-controls-direction a {
		border: 2px solid #7a7885;
	}

/* ==========================================================================
   =Auto Controls (Start / Stop)
   ========================================================================== */
	
	.bx-wrapper .bx-controls-auto .bx-start {
		background: url(../../js/bxslider/images/controls.png) -86px -11px no-repeat;
	}
	
	.bx-wrapper .bx-controls-auto .bx-stop {
		background: url(../../js/bxslider/images/controls.png) -86px -44px no-repeat;
	}

/* ==========================================================================
   =Image Captions
   ========================================================================== */

	.bx-wrapper .bx-caption {
		background: rgba(80, 80, 80, 0.75);
	}
	
	.bx-wrapper .bx-caption span {
		color: #fff;
	}

	
	
	.slider-control span {
		border: 2px solid #d7d7d7;
		color: #d7d7d7;
	}
	
	.slider-control span a {
		color: #d7d7d7; 
	}
	
	.slider-control span:hover { border-color: #7a7885; }
	.slider-control span:hover a { color: #7a7885; }
	
	.images-slider .bx-wrapper .bx-controls-direction a { border-color: #fff; }
	
	.images-slider .bx-wrapper .bx-prev {
		background: url(../../images/left.png) no-repeat center center;
	}
	
	.images-slider .bx-wrapper .bx-next {
		background: url(../../images/right.png) no-repeat center center;
	}

/* ==========================================================================
   =Rev Slider Pager
   ========================================================================== */
	   
	.tp-bullets.simplebullets.round .bullet {
		background: #fff;
	}

	.tp-bullets.simplebullets.round .bullet.selected { background: #7a7885;  }

/* ==========================================================================
   =Rev Slider Nav
   ========================================================================== */

	.tp-leftarrow.default,
	.tp-rightarrow.default {
		border: 2px solid #fff;
	}

	.tp-leftarrow.default:hover,
	.tp-rightarrow.default:hover {
		border-color: #7a7885;
		background-color: #7a7885; 
	}

	.tp-leftarrow.default { background: url(../../images/left.png) no-repeat center center; }
	.tp-rightarrow.default { background: url(../../images/right.png) no-repeat center center; }

/* ==========================================================================
   =Rev Typography
   ========================================================================== */
   
   	.caption.bg {
		background-color: #7a7885;
	}
	
	.caption.title {
		color: #fff;
	}
	
	.caption.title-2 {
		color: #fff;
	}
	
	.caption.text {
		color: #fff;
	}
	
	.caption .btn {
		border-color: #fff;
		color: #fff;
	}
   
   	.caption .btn:hover {
		border-color: #7a7885;
		background-color: #7a7885;
		color: #fff;
	}