---
Titule: Manual de referencia de Crono
Url: soporte/index.html
Section: "Artículos"
Layout: layouts/soporte-articulo.cshtml
---

@{
  var posts=(from post in Site.FindSectionByName("Artículos").Pages orderby post.Date descending select post);
  foreach(var post in posts){
    <h2><a href="@Root/@post.Url">@post.Title</a></h2>
}}
