---
UniqueId: moPOfZNtKz
Title: Crono ETL
Url: crono-etl.html
Description: "Crono es la mejor y más fácil herramienta de Business Intelligence. Crono incluye las mejores soluciones de ETL, reporting, cuadros de mando y reporting Excel."
Layout: layouts/base.cshtml

---
<div id="wrap">
	@Include("layouts/header.cshtml")
	<div id="content">
		<div id="page-header" style="background-image:url(images/backgrounds/head-crono-etl.jpg);"></div>
		<div class="row">            
			<div class="span12">
				<img alt="" src="images/logo_crono_etl.png">
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="divider single-line"></div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h3>Data Warehouse</h3>
				<p>Crono ETL  es una herramienta especializada en la creación de los procesos de aprovisionamiento de data warehouses.</p>
				<br/>
				<p>En organizaciones medianas y grandes se recomienda siempre la creación de bases de datos específicas para los procesos analíticos. Estas bases de datos analíticas se llaman “data warehouse” y están diseñadas para responder rápidamente las consultas masivas de los usuarios.</p>
				<br/>
				<p>Los procesos ETL (Extracción, Transformación, y Carga)  son los responsables de cargar diariamente el DWH a partir de los sistemas transaccionales de la empresa.</p>
			</div>
		</div>
		<br>				
		<div class="row">
			<img class="cent_img" src="images/productos/etl-grafic.png" alt="">	
		</div>
		<div class="row">
			<div class="span12">
				<div class="divider single-line"></div>
			</div>
			<div class="row">			
				<div class="span12">
					<h3>Facilidad de desarrollo y máximo rendimiento con Crono ETL</h3>
					<p>La parte más compleja de cualquier proyecto BI y donde se invierte más tiempo y más recursos es precisamente el diseño y construcción de estas bases de datos. </p>
					<br>
					<p>Crono ETL es la mejor solución para crear estos procesos de una manera rápida, segura, óptima y mantenible. Nuestro software se ha diseñado precisamente para facilitar la creación de estos procesos de carga y para asegurar unos elevados estándares de calidad durante el ciclo de vida del proyecto.</p>
					<br>
					<p>Crono ETL es un generador de código SQL optimizado para las necesidades de los proyectos DWH.  De manera totalmente automática, Crono ETL genera el código más farragoso y complicado de los procesos de carga (estrategias de carga, logs, auditoría,…), por lo que el programador puede centrarse en lo verdaderamente importante y lo que genera valor para el proyecto: Diseñar un buen modelo de datos y aplicar correctamente las reglas de negocio definidas por el usuario.</p>
					<br>				 
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<div class="divider single-line"></div>
				</div>
                <div class="row">			
					<div class="span12">
						<h3>Metodologías ágiles</h3>
						<p>Defendemos que las metodologías ágiles son la única opción razonable de realizar un proyecto de desarrollo hoy en día. Es necesario entregar resultados de manera muy rápida e incremental, y es necesario diseñar aplicaciones mantenibles y que crezcan y evolucionen del mismo modo que lo hace el Negocio.</p>
						<br>
						<p>Crono ETL tiene estas consideraciones en cuenta y ofrece muchas características que favorecen la correcta aplicación de las metodologías ágiles (seguimiento de patrones de desarrollo, paradigmas DRY y KISS, facilidades para el control del código fuente, extracción de metadata, automatización de tareas, y un largo etcétera).</p>
					</div>
				</div>
    
				<div class="row">
					<div class="span12">
						<div class="divider single-line"></div>
					</div>
					<div class="row">
						<div class="span12">
							<h3>Características</h3>
							<p>Todas las características de Crono ETL están encaminadas a facilitar y agilizar el desarrollo, y maximizar la calidad del proceso ETL. </p>
						</div>
					</div>
					<!-- Tabla características -->	  
					<div class="row">
						<div class="container">
							<div class="row">
								<div id="no-more-tables">
									<table class="col-md-12 table-bordered table-striped table-condensed cf">
										<thead class="cf">
											<tr>
												<th class="blue">Nombre de la característica</th>
												<th class="blue">Crono ETL</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td data-title="Nombre de la característica"><p>Especializado en proyectos ETL/DWH</p></td>
												<td data-title="Crono ETL"><p>Sí</p></td>
											</tr>
											<tr>
												<td data-title="Nombre de la característica"><p>Generación de código SQL optimizado para maximizar el rendimiento de las cargas</p></td>
												<td data-title="Crono ETL"><p>Sí</p></td>
											</tr>
											<tr>
												<td data-title="Nombre de la característica"><p>Estrategias de carga específicas para tablas de hecho (incrementales, diferenciales, totales, etc.)</p> </td>
												<td data-title="Crono ETL"><p>Sí</p></td>
											</tr>
											<tr>
												<td data-title="Nombre de la característica"><p>Estrategias de carga específicas para tablas de dimensión (dimensiones lentamente cambiantes tipo  1 y tipo 2, totales, etc.)</p> </td>
												<td data-title="Crono ETL"><p>Sí</p></td>
											</tr>
											<tr>
												<td data-title="Nombre de la característica"><p>Soporte de distintos entornos (desarrollo, test, pruebas, producción, …)</p> </td>
												<td data-title="Crono ETL"><p>Sí</p></td>
											</tr>
											<tr>
												<td data-title="Nombre de la característica"><p>Completa y detallada auditoría de los procesos de carga (duración, registros afectados, dependencias, etc.) </p> </td>
												<td data-title="Crono ETL"><p>Sí</p></td>
											</tr>  
											<tr>
												<td data-title="Nombre de la característica"><p>Facilidad para mantener y aprovechar los campos de auditoría en todas las tablas (fechas de alta, baja, modificación, vigencia, etc.) </p> </td>
												<td data-title="Crono ETL"><p>Sí</p></td>
											</tr> 
											<tr>
												<td data-title="Nombre de la característica"><p>Posibilidad de controlar todo el código fuente con sistemas SCM (tipo GIT, TFS,  Subversion, o cualquier  otro) </p> </td>
												<td data-title="Crono ETL"><p>Sí</p></td>
											</tr>
											<tr>
												<td data-title="Nombre de la característica"><p>Generación automática de documentación </p> </td>
												<td data-title="Crono ETL"><p>Sí</p></td>
											</tr>   
											<tr>
												<td data-title="Nombre de la característica"><p>Aplicación y verificación del correcto seguimiento de los patrones de desarrollo definidos</p> </td>
												<td data-title="Crono ETL"><p>Sí</p></td>
											</tr>   
											<tr>
												<td data-title="Nombre de la característica"><p>Facilidades para el diseño, creación y mantenimiento  del modelo de datos</p> </td>
												<td data-title="Crono ETL"><p>Sí</p></td>
											</tr>   
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>