---
UniqueId: CCBkxOQNKw
Title: Crono Metadata
Url: crono-metadata.html
Description: "Crono es la mejor y más fácil herramienta de Business Intelligence. Crono incluye las mejores soluciones de ETL, reporting, cuadros de mando y reporting Excel."
Layout: layouts/base.cshtml

---
<div id="wrap">
	@Include("layouts/header.cshtml")
	<div id="content">
		<div id="page-header" style="background-image:url(images/backgrounds/head-crono-metadata.jpg);"></div>
		<div class="row">
			<div class="span12">
				<img alt="" src="images/logo_crono_metadata.png">
				<div class="spanbtn">
					<a class="btn btn-large text-uppercase" href="https://crono-md5.s3.amazonaws.com/CronoAnalytics/CronoMetadata/Last/CronoMetadata.msi">Descargar CRONO METADATA</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="divider single-line"></div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h3>Capa semántica</h3>
				<p>Crono Metadata es la herramienta que utiliza el técnico para definir la capa semántica. La capa semántica es una pieza fundamental e indispensable de cualquier solución  Business Intelligence. La capa semántica es el diccionario de indicadores y conceptos que dispone el usuario de negocio para generar sus consultas e informes.</p>
				<br/>
				<p>La capa semántica incluye información sobre la propia estructura de los datos y por eso se denomina también “metadatos” o  “catálogo”. La capa semántica traduce la complejidad de las tablas, campos y relaciones de la base de datos en un lenguaje conocido por el usuario.</p>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="divider single-line"></div>
            </div>
			<div class="row">
				<div class="span12">
					<h3>Crear un catálogo con Crono Metadata</h3>
					<p>Crono Metadata comparte las características de facilidad de uso del resto de la plataforma. De este modo, la creación de un catálogo es algo sencillo y rápido. Para crear un catálogo de Crono solo es necesario conocer la estructura de la base de datos y disponer de conocimientos básicos del lenguaje SQL. </p>
					<br/>
					<p>Los pasos para crear un catálogo son:</p>
					<ol>
						<li>Establecer la conexión con la base de datos</li>
						<li>Definir las “estrellas” o “copos de nieve” del  modelo de datos, especificando las tablas y las relaciones entre ellas.</li>
						<li>Organizar la información que requiere el usuario en una estructura de carpetas. Para ello, simplemente se tienen que definir todos los indicadores y dimensiones.</li>
					</ol>
					<br />
					<p>Tras estos sencillos pasos, el catálogo ya se puede publicar y el usuario de negocio dispondrá de autonomía para generar sus propias consultas sin necesidad de conocer la estructura de la base de datos o el lenguaje SQL.</p>
					<p>El siguiente <b class="negrita">vídeo de presentación de Crono Metadata</b> muestra lo sencillo que resulta crear un catálogo con CRONO.</p>
					<div class="video-container"><iframe src="https://www.youtube.com/embed/zxDY5vtLTTM?rel=0"></iframe></div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<div class="divider single-line"></div>
				</div>
				<div class="row">
					<div class="span12">
						<h3>Características</h3>
						<p>La capa semántica de Crono Analytics es muy potente y dispone tanto de las características más básicas como de las características más avanzadas que requieren los proyectos BI. </p>
					</div>
				</div>

				<!-- Tabla características -->
				<div class="row">
					<div class="container">
						<div class="row">
							<div id="no-more-tables">
								<table class="col-md-12 table-bordered table-striped table-condensed cf">
									<thead class="cf">
										<tr>
											<th class="lila">Nombre de la característica</th>
											<th class="lila">Crono Metadata</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td data-title="Nombre de la característica"><p>Flexibilidad para adaptarse a cualquier modelo de datos (3FN, copo de nieve, estrella)</p></td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Indicadores y dimensiones básicos (calculadas a partir de SQL propio de la base de datos)</p></td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Indicadores y dimensiones derivados (calculados a partir de otras dimensiones o indicadores)</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Indicadores multiestrella (calculados a partir de dos o más tablas de hecho, tipo ventas/objetivo)</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Uso de tablas agregadas</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Reescritura de consulta </p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Tabla de tiempo  y gestión de indicadores temporales (funciones TD, YTD)</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fullwidth-section" id="bg-9">
	<div class="fullwidth-section-content">
		<div class="row">
			<h3>Imágenes</h3>
		</div>
		<div class="row">
			<div class="span4">
				<div class="portfolio-item">
					<div class="portfolio-item-preview">
						<img src="images/productos/crono_metadata_01.jpg" alt="">
						<a class="portfolio-item-zoom magnificPopup-gallery" href="images/productos/crono_metadata_01.jpg"><div class="portfolio-item-overlay"></div></a>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="portfolio-item">
					<div class="portfolio-item-preview">
						<img src="images/productos/crono_metadata_02.jpg" alt="">
						<a class="portfolio-item-zoom magnificPopup-gallery" href="images/productos/crono_metadata_02.jpg"><div class="portfolio-item-overlay"></div></a>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="portfolio-item">
					<div class="portfolio-item-preview">
						<img src="images/productos/crono_metadata_03.jpg" alt="">
						<a class="portfolio-item-zoom magnificPopup-gallery" href="images/productos/crono_metadata_03.jpg"><div class="portfolio-item-overlay"></div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>