---
UniqueId: xAQpjFVvFd
Title: Crono Analysis
Url: crono-analysis.html
Description: "Crono es la mejor y más fácil herramienta de Business Intelligence. Crono incluye las mejores soluciones de ETL, reporting, cuadros de mando y reporting Excel."
Layout: layouts/base-simple.cshtml

---

		<div id="page-header" style="background-image:url(images/backgrounds/head-crono-query.jpg);"></div>
		<div class="row">
			<div class="span12">
				<img alt="" src="images/logo_crono_analysis.png">
				<div class="spanbtn">
					<a class="btn btn-large text-uppercase" href="https://crono-md5.s3.amazonaws.com/CronoAnalytics/CronoAnalysis/Last/CronoAnalysis.msi">Descargar CRONO ANALYSIS</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="divider single-line"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="span12">
				<h3>Crono Analysis</h3>
				<p>Crono Analysis es la herramienta que utiliza el usuario de negocio para consultar informes y cuadros de mando. Si tiene los permisos necesarios, el usuario también puede generar nuevas consultas e informes. Los informes son pantallas dinámicas y muy visuales que combinan tablas con todo tipo de gráficos. Crono permite navegar y visualizar la información desde distintos puntos de vista, de manera agregada o detallada. Gracias a estas avanzadas opciones de visualización, el analista obtiene un conocimiento superior de la información disponible y puede tomar decisiones basadas en datos y no solo en intuiciones.</p>
				<br/>
				<p>La consulta y generación de informes se realiza siempre mediante drag&amp;drop y de manera muy ágil y sencilla. Gracias a la capa semántica, el usuario no necesita conocimientos de programación ni ningún lenguaje extraño para construir comparativas, evoluciones, analizar tendencias, detectar anomalías u oportunidades…</p>
				<p>El siguiente <b class="negrita">vídeo de presentación de Crono Analysis</b> muestra lo sencillo que resulta crear un cuadro de mando con CRONO.</p>
				<div class="video-container"><iframe src="https://www.youtube.com/embed/hu-6Z7Tmt0A?rel=0"></iframe></div>
				<br>
				<br>
			</div>
		</div>
		
		<div class="row">
			<div class="span12">
				<div class="divider single-line"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="spanbtn">
				<a class="btn btn-large text-uppercase" href="https://crono-md5.s3.amazonaws.com/CronoAnalytics/CronoExcel/Last/CronoExcel.msi">Descargar CRONO EXCEL</a>
			</div>
			<div class="span12">
				<h3>Crono Excel</h3>
				<p>Crono Analysis incluye un complemento de Microsoft Excel 2007 (o superior) para extraer fácilmente la información de los sistemas corporativos y cargarlos directamente en la hoja de cálculo Excel. Los informes generados con Crono Excel se mantienen siempre actualizados y sincronizados con los datos de origen resolviendo así los habituales problemas de los informes Excel (datos desactualizados, incorrectos, o con criterios dispares entre distintos departamentos).</p>
				<br/>
				<p>Desde el primer día, el usuario accede a los datos utilizando su propio lenguaje de negocio, sin necesidad de conocimientos técnicos y sin necesidad de aprender nuevas herramientas. Una vez obtenidos los datos con Crono Excel, el usuario dispone de todas las potentes y conocidas funcionalidades de Excel para preparar los informes del modo más conveniente.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="span12">
				<div class="divider single-line"></div>
			</div>
			<div class="row">
				<div class="span12">
					<h3>Solución para todo tipo de proyectos y empresas</h3>
					<p>Crono resulta útil para todo tipo de empresas y proyectos. Nuestros clientes son Administraciones Públicas y empresas de todos los sectores, desde grandes empresas multinacionales hasta comercios u organizaciones locales. Con Crono se puede hacer el seguimiento de los gastos de una pequeña agencia de viajes hasta controlar la producción y distribución de cientos de miles de SKU…  </p>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<div class="divider single-line"></div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h3>Características</h3>
					<p>Crono Analysis y Crono Excel tienen una apariencia extremadamente amigable  y sencilla. Crono Analysis tiene una sola pestaña en la cinta de opciones y tiene apenas una decena de botones. Sin embargo, el usuario encontrará todas las opciones que necesita para generar sus informes. </p>
				</div>
			</div>
		
			<!-- Tabla características -->
			<div class="row">
				<div class="container">
					<div class="row">
						<div id="no-more-tables">
							<div class="analysis_table">
								<table class="col-md-12 table-bordered table-striped table-condensed cf">
									<thead class="cf">
										<tr>
											<th class="orange">Nombre de la característica</th>
											<th class="orange">Crono Analysis</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td data-title="Nombre de la característica"><p>Generación de informes con tablas y gráficos</p></td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Variedad de gráficos (líneas, barras, puntos, burbuja, área, curvas, dispersión)</p></td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Variedad de tablas (tablas dinámicas, tablas invertidas, subtotales) </p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Velocímetros</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Uso de capa semántica</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Campos Calculados</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Acceso rápido a cálculos habituales (variaciones, incrementos, porcentajes respecto el total ,  etc.)</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Filtros de informe y filtros de consulta</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Filtros de columna</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Alertas semafóricas</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Informes dinámicos</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Exportación a Excel</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Exportación a otros formatos (HTML, CSV, TXT, JPG, …)</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Informes locales</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Informes en servidor</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Opciones OLAP</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
										<tr>
											<td data-title="Nombre de la característica"><p>Vista presentación</p> </td>
											<td data-title="Crono ETL"><p>Sí</p></td>
										</tr>
									</tbody>
								</table>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>
	
	<div class="fullwidth-section" id="bg-9">
	<div class="fullwidth-section-content">
		<div class="row">
			<h3>Imágenes</h3>
		</div>
		<div class="row">
			<div class="span4">
				<div class="portfolio-item">
					<div class="portfolio-item-preview">
						<img src="images/productos/crono_query_01.jpg" alt="">
						<a class="portfolio-item-zoom magnificPopup-gallery" href="images/productos/crono_query_01.jpg">
							<div class="portfolio-item-overlay"></div>
						</a>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="portfolio-item">
					<div class="portfolio-item-preview">
						<img src="images/productos/crono_query_02.jpg" alt="">
						<a class="portfolio-item-zoom magnificPopup-gallery" href="images/productos/crono_query_02.jpg">
							<div class="portfolio-item-overlay"></div>
						</a>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="portfolio-item">
					<div class="portfolio-item-preview">
						<img src="images/productos/crono_query_03.jpg" alt="">
						<a class="portfolio-item-zoom magnificPopup-gallery" href="images/productos/crono_query_03.jpg">
							<div class="portfolio-item-overlay"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
