/*
 * Globals
 */

.blogc h2{
	letter-spacing: 2px;
}

.header
{
	padding-top:20px;
	padding-bottom:10px;
	background:#ffffff;
}
.logo
{
	max-width:100%;
}

.blog-header img
{
	max-width:100%;
}

.blog-nav
{
	margin-top: 15px;
	text-align:right;
}


.blog-sidebar
{
	background:#d27e36;
	color:#fefefe;
	float:left;
	margin-top:0px;
}


.blog-sidebar h4
{
	margin-bottom: 8px;
}
.sidebar-module h4
{
	font-weight:bold;
	color:#fefefe;
	text-transform:none;
}
.blog-sidebar .sidebar-module p
{

	font-size: 90%;
	line-height: 155%;
	color:#FFF !important;
	text-align:left !important;
}
.blogc p
{
	text-align:left !important;
}
.ligth-module
{
	background:#f3a158;
	color: black;
}

.blog-sidebar .ligth-module p
{
	color: black !important;
	font-weight: bold;
}

.ligth-module a.btn {
	background-color: white;
	border-color: black;
	color:black;
}


.ligth-module img{
	height:170px;
	float: right;
	margin-bottom:-20px;
}



.buttonsubs
{
	color:#2b2a29;
	font-weight:bold;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	background:#fefefe;
	border:none;
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px 3px 3px 3px;
	-o-border-radius:3px 3px 3px 3px;
	-ms-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
}

.sidebar-module ol li a
{
	color:#FFF;
	font-weight:bold;
}


.page-title
{
	text-transform: uppercase;
font-weight: bold;
font-size: 18px;
color: #7A7885;
padding-bottom: 10px;
line-height: 28px;
font-weight: 900;
font-family: "Roboto",Arial,sans-serif;
}

.imgpost img
{
	max-width:100%;
}

.archivo-group ol
{
	list-style:initial;
	padding-left: 15px;
}
.archivo-group ol li a
{
	color:#000;
	font-weight:bold;
	font-size:90%;
}

.blog-post-full .navegador
{
	/*background:#7a7885;*/
	width:100%;
	float:left;
}
.blog-post-full .navegador .arrows
{
	float:right;
	margin-right:10px;
	
}
.blog-post-full .navegador .arrows a
{
	color:#000;
	font-size: 150%;
	vertical-align: middle;
	display:inline-block;
}


.arrows i {
	font-size:200%;
	color: #aaa;
	margin:2px;
}

.arrows i.arrow:hover {
	font-size:200%;
	color: #d27e36;
}


.archivo-group h2
{
	color:#D27E36;
	font-weight:bold;
	font-size: 160%;
}
.archivo-group ol li a span
{
	color: #999 ;
	font-size:70%;
	font-weight:normal;
}

.blog-post-full .blog-post-meta
{
	margin-top:10px;
	font-size:90%;
}
.blog-post-full .blog-post-meta span
{
	margin-right:15px;
}
.blog-post-full .blog-post-title
{
	color:#2b2a29;
	font-weight:bold;
	font-size:130%;
}


.socialshare 
{
	margin-top:40px;
	margin-bottom:25px;
}

.socialshare ol
{
	list-style:none;
	padding:0px;
	margin-left:5px;
	float:left;
}
.socialshare span
{
	float:left;
	font-size:80%;
	color:#5b5b5b;
	font-weight:bold;
	line-height:110%;
	text-align:right;
}
.socialshare ol li
{
	width:30px;
	text-align:center;
	height:30px;
	padding-top:3px;
	padding-bottom:3px;
	float:left;
	margin-right:5px;
	color:#FFF;
}
.socialshare ol li a
{
	color:#FFF;
}
.socialshare .fb
{
	background:#3a589b;
}
.socialshare .tw
{
	background:#598dca;
}
.socialshare .in
{
	background:#007ab9;
}
.socialshare .go
{
	background:#d95333;
}
.socialshare .pi
{
	background:#bd2125;
}
.socialshare .ma
{
	background:#c8a723;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
.container {
	width: 1170px;
}
}
/*
 * Masthead for nav
 */

.blog-masthead {
	background-color: #ffffff;

}
/* Nav links */
.blog-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight: 500;
	color: #7a7885;
	text-transform:uppercase;
	font-size:90%;
	line-height:120%;
}
.blog-nav-item:hover, .blog-nav-item:focus {
	font-weight:bold;
	color: #7a7885;
	text-decoration: none;
}


li.dropdown a.active {
	color: #167ac6; !important
}

/*.blog-nav .active:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -5px;
	vertical-align: middle;
	content: " ";
	border-right: 5px solid transparent;
	border-bottom: 5px solid;
	border-left: 5px solid transparent;
}*/
/*
 * Blog name and description
 */

.blog-header {
	padding-top: 20px;
	padding-bottom: 20px;
}
.blog-title {
	margin-top: 30px;
	margin-bottom: 0;
	font-size: 60px;
	font-weight: normal;
}
.blog-description {
	font-size: 20px;
	color: #999;
}
/*
 * Main column and sidebar layout
 */

.blog-main {
	font-size: 18px;
	line-height: 1.5;
}
/* Sidebar modules for boxing content */
.sidebar-module {
	padding: 20px;

	clear:both;
	float:left;
}

.blog-post .span4
{
	margin-top:0 !important;
}

.sd-mod-sinpie
{
	padding-bottom:0px;
}

.list-social
{
	
}

.list-unstyled
{
	margin-left:0px;
	padding-left:0px;
	list-style:none;
}

.sidebar-module .list-social li
{
	float:left;
	width:30px;
	height:27px;
	padding-top:3px;
	background:#FFF;
	margin-right:10px;
	text-align:center;
}
.sidebar-module .list-social li a
{
	color:#d27e36;
	font-size:130%;
}

.sidebar-module-inset {
	padding: 15px;
	background-color: #f5f5f5;
	border-radius: 4px;
}
.sidebar-module-inset p:last-child, .sidebar-module-inset ul:last-child, .sidebar-module-inset ol:last-child {
	margin-bottom: 0;
}
/* Pagination */
.pager {
	margin-bottom: 60px;
	text-align: left;
}
.pager > li > a {
	width: 140px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 30px;
}
/*
 * Blog posts
 */

.blog-post {
	margin-bottom: 5px;
}

.blog-post-title {
	margin-bottom: 25px;
	font-size: 125%;
	font-weight:bold;
	color:#2880ba;
}

.blog-post-title a {
	color:#2880ba;
}

.blog-post-title a:hover {
	color:#2880ba;
	text-decoration: none;
}

.blog-post-meta {
	margin-bottom: 30px;
	color: #999 !important;
	font-size:70%;
}
.blog-post .intro
{
	font-size:80%;
}
.readmore
{
	background:#7a7885;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	color:#FFF !important;
	font-size:80%;
	float:right;
	text-decoration:none;
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px 3px 3px 3px;
	-o-border-radius:3px 3px 3px 3px;
	-ms-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
}


.w100p
{
	width:100%;
}
.blogseparator
{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	border-bottom:2px dashed #7a7885;
	margin-bottom:20px;
}

/*
 * Footer
 */

.blog-footer {
	padding: 40px 0;
	color: #999;
	text-align: left;
	color:#FFF;
	background-color: #7a7885;
	border-top: 1px solid #e5e5e5;
}
 .blog-footer a
 {
	 color:#FFF;
	}
.blog-footer p:last-child {
	margin-bottom: 0;
}
.blog-footer .contenedorfooter
{
	border-bottom:1px solid #FFF;
	padding-bottom:30px;
}

.blog-footer .copyright
{
	padding-top:20px;
}

.fa-home{
	color:#FFF;
	font-size: 130%;
	margin-right: 7px;
}
