/* Generals */
	.sections-header{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		min-height: 50px;
	}
	
	.sections-header img{
		max-height: 43px;
		margin-left: 10px;
	}

	.header-left-part{
		width:50%;
		float:left;
	}

	.header-right-part{
		width:50%;
		float:right;
		text-align: right;
		margin-top: 5px;
	}	
	
	.header-right-part a{
		margin-right: 5px;
		margin-bottom: 0;
	}
	
	.header-caption{
		padding-bottom: 48px;
		padding-top: 48px;
		margin-bottom: 30px;
		background-size:cover;
	}
	
	.website .sections-header{background-color: #000;}
	
	.soporte .header-caption {background: url(img/banner-datawarehouse.jpg);}
	.blog    .header-caption {background: url(img/banner-datawarehouse-rojo.jpg);}
	.soporte .header-right-part a{color: #006db0;}	
	.blog    .header-right-part a{color: #a30431;}
	.website .header-right-part a{color: #FFF;text-transform: uppercase;font-weight: bold;}
	.soporte a.btn{background-color: #2880ba !important;border: 2px solid #2880ba !important;}
	.blog    a.btn{background-color: #a30431 !important;border: 2px solid #a30431 !important;}
	.website a.btn{background-color: transparent !important;border: 2px solid #FFF !important;}
	
	.header-caption h1{
		color: #fff;
		font-size: 50px;
		font-weight: 100;
		letter-spacing: 2px;
		margin-top: 50px;
		text-align: center;
	}
	
	.blog .header-caption p{text-align:center !important;margin-bottom:0; margin-top:20px;}
	
	.container{
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.header-caption .container{
		max-width:100%;
	}
	
	.span4{
		
		margin-top:50px;
	}
	
	.owl-carousel .owl-wrapper-outer{
		margin-top: -80px !important;
	}
	
	.text-uppercase {
		
		font-weight: bold;
		font-size: 10px;
	}
	b.negrita{
		font-weight: 700;	
	}
	
	p {
		text-align: justify !important;
		color: black !important;
	}
	ol li {
		color: black !important;	
	}
	ul li {
		color: black !important;	
	}	
	ul.check {
		color: black !important;
	}
	
	.fullwidth-section {
		padding: 60px 0 !important;
	}
	
	.textwidget p{
		color: rgb(203, 203, 203) !important;
	}
	
	.hyphenate {
        text-align:justify;
        hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
    }
    
    #mobile-menu .mobile-menu-submenu-arrow{
	    height: 40px !important;
    }
    
    #footer-wrapper {
		padding-top: 10px;
	}
	
	#footer-widget-area-2 ul li{
		
		color:white !important;
	}
	
	#footer-widget-area-3 ul li{
		
		color:white !important;
	}
	
	/* Colors */
	
	.lila {
		background-color: #682478 !important;
		color:white;
	}
	
	.orange {
		background-color:#D24726;
		color:white;
	}
	
	.blue {
		background-color: #2881BA;
		color: white;
	}
				
	/* Elements */

	#bg-9 {
	  margin: 20px 0 0px 0 !important;
	}
	a.btn {
	  color: #FFF !important;
	  background-color: #2880ba;
	  border: 2px solid #2880ba;
	  width: auto;
	  font-size: 15px;
	  text-align: center;
	}
	
	input.btn {
	  color: #FFF;
      background-color: #2880ba;
	  border: 2px solid #2880ba;
	  width: auto;
	  font-size: 15px;
	  text-align: center;
	}
	
	a.btn:hover {
	  background-color: #7a7885;
	  border: 2px solid #7a7885;

	}
	
	.divider{
		margin: 60px 0 !important;
	}

/* home slider */

	.features-slider {
	  	margin-bottom: 10px !important;
	}
	
	.features-slider-description {
	    margin-top: 0 !important;
	}
	
	.features-slider-description h4{
	    font-size: 44px !important;
	    line-height: 46px !important;
	}
	
	.features-slider .span4 {
   	 	margin-top: 0px !important;
	}
	
	.features-slider a.btn {
	  color: #FFF;
	  background-color: #2880ba;
	  border: 2px solid #2880ba;
	  width: 125px;
	  font-size: 15px;
	  text-align: center;
	}

	.features-slider a.btn:hover {
	  background-color: #7a7885;
	  border: 2px solid #7a7885;

	}
	
	.caption.title {
		font-size: 20px !important;
		line-height: 30px !important;
	}
	
	.caption.title-2 {
		line-height: 55px !important;
	}
	
	.caption.bg {
		height: 325px !important;
		width: 490px !important;
		opacity: 0.7 !important;
	} 
	
	.caption.bg.bg2 {
		height: 280px !important;
		width: 490px !important;
		opacity: 0.7 !important;
	} 
	
	.tp-leftarrow {
		top: 640px !important;
	}
	.tp-rightarrow  {
		top: 640px !important;
		left: 115px !important; 
	}
		
	@media all and (max-width: 1145px) {
		.tp-leftarrow {
			top: 600px !important;
		}
		.tp-rightarrow  {
			top: 600px !important;
			left: 115px !important; 
		}
	}
	@media all and (max-width: 1076px) {
		.tp-leftarrow {
			top: 560px !important;
		}
		.tp-rightarrow  {
			top: 560px !important;
			left: 115px !important; 
		}
	}	

/* Video Responsive */

	.video-container {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
	}
	
	.video-container iframe, .video-container object, .video-container embed {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	
/* Home Productos */

	.btn_meta {
		
		margin-top: 68px !important;
	}	
	.btn_etl {
		
		margin-top: 68px !important;
	}	
		
	@media all and (max-width: 1399px) {
		.btn_etl {	
		margin-top: 92px !important;
		}	
	
	}
	
	@media all and (max-width: 979px) {
		.btn_meta {
			
			margin-top: 92px !important;
		}	
			
		.btn_etl {	
		margin-top: 116px !important;
		}		
	}
	@media all and (max-width: 767px) {
		.btn_meta {
			
			margin-top: auto !important;
		}	
			
		.btn_etl {	
		margin-top: auto !important;
		}		
	}	
	
	
/* home clientes */

	.col {
		width: 25%;
		float: left;
		text-align: center;
	}
	
	.clientes .col img{
		  width: min-intrinsic !important;

	}
	
	.fullwidth-section-clients {
		  position: relative;
		  overflow: hidden;
		  z-index: 0;
		  padding: 120px 0;
		  margin: 75px 0;
		  background-color: #FFFFFF;
		  background-attachment: scroll;
		  background-repeat: no-repeat;
		  background-position: 50% 0;
		}
		
/* Servicios */
	
	.headline h5{
		
		margin-top: -22px;
	}
	
	.icon-box-2 a{
		font-weight: bold;
		text-align: justify !important;
		height: 600px;
		
	}
	
	#page-header h1 {
	  top: 152px !important;
	  background-color: rgba(122,120,133,0.0)  !important;
	  
	}
	
	#page-header h1 {
		line-height: 55px !important;
		
	}
	
	#page-header h1 small {
	  line-height: 26px !important;	
	}
	
	.icon-box-2 .servicio {
		height: 458px;
	}
	
	@media screen and (max-width: 1400px) {
		.icon-box-2 .icon-box-content {
		height: 525px;
		}
	}

	@media screen and (max-width: 980px) {
		.icon-box-2 .icon-box-content {
		height: 745px;
		}
	}

	@media screen and (max-width: 767px) {
		.icon-box-2 .icon-box-content {
		height: auto;
		}
	}	
	
	.btn_presu1 {
		 margin-top: 44px;
	}
	.btn_presu2 {
		
	}	
	.btn_presu3 {
		 margin-top: 111px;		
	}
	.btn_presu4 {
		margin-top: 160px;	
	}	
	
	@media screen and (max-width: 1399px) {	
	
		.btn_presu3 {
			 margin-top: 88px;		
		}
	}
	
	@media screen and (max-width: 979px) {	
	
		.btn_presu1 {
			 margin-top: 68px;		
		}
		.btn_presu3 {
			 margin-top: 159px;		
		}	
		.btn_presu4 {
			 margin-top: 255px;		
		}				
	}
		
	
	@media screen and (max-width: 767px) {	
	
		.btn_presu1 {
			 margin-top: auto;		
		}
		.btn_presu1 {
			 margin-top: auto;		
		}
		.btn_presu3 {
			 margin-top: auto;		
		}	
		.btn_presu4 {
			 margin-top: auto;		
		}				
	}
			
	
		
/* Precios */

	.licencia {height: 380px;}

	.precio {
		font-size: 230%;
		font-weight: bolder;
		position: absolute;
		bottom: 30px;
		left: 0px;
		right:0px;
	}

	.fa {
	  	  padding-top: inherit;
	}
	
	.bg_white .fa {
	  color: #2ECC71;
	}

	.bg_grey .fa {
	  color: #2ECC71;
	}	
	
	table td {
	  padding-top: 25px !important;
	  padding-bottom: 15px !important;
	}
	
	table td .fa {
	  padding-top: 8px;
	  font-size: 26px;
	}
 
/* Productos */

	.ico_head img {
	  margin-top: 182px;
	}	
	
	#page-header {
		height: 260px !important;
	}
	
	#page-header .ico_head h1 {
		float: left;
	  padding-left: 78px !important;
	}	
	
	img.mfp-img {
	  max-height: 1000px !important;
	}
	
	ul.check li:before {
	  background-color: #2ECC71 !important;
	  color:#ffffff !important;
	  font-weight: bold !important;
	}
	
	ul.check li {
	  margin-bottom: 15px;
	  background-color: whitesmoke;
	  padding: 10px 10px;
	}
	.cent_img{
		display: block;
		margin-left: auto;
 	    margin-right: auto; 
    }
    .spanbtn {
	    float: right;
    }
    
	@media screen and (max-width: 420px) {	    
	    .spanbtn {
		    float: none;
		    margin-top: 30px;
	    }	
	}
	
	/* Características Table */	
	
	
		thead th{
			background-color: #f4f4f4;
			text-align: left;
		}
		
		
		
		#no-more-tables p {
		  margin-bottom: 3px;
		  margin-top: -10px;
		}
			
	
	/* DISQUS */
	
	div#disqus_thread {
		padding-top:150px;
	}