/**
 * 	Name: elements.css
 *
 *	T.O.C
 *	
 *	=Accordions and toggles
 *	=Alerts
 *	=Animations
 *	=Buttons
 *	=Clients logo slider
 *	=Custom Lists
 *	=Dividers
 *	=Google Maps
 *	=Headlines
 *	=Icon Boxes
 *	=Milestones
 *	=Odometer
 *	=Our Process
 *	=Pie charts
 *	=Pricing Tables
 *	=Progress Bar
 *	=Social Media
 *	=Styled Tables
 *	=Tabs
 *	=Testimonials
 *	=Team Member
 *	=Portfolio Item
 *	=Portfolio Item Navigation
 *	=Portfolio Filter
 *	=Portfolio pagination
 *	=Portfolio Isotope
 *	=Contact form
 *	=Blog
 *	=Fullwidth Section
 *	=WordPress Default Classes
 *	=WordPress Widgets
 *		=Widgets default
 *		=Text Widget
 *		=Search Widget
 *		=Recent Entries Widget
 *		=Pages Widget
 *		=Archive Widget
 *		=Categories Widget
 *		=Meta Widget
 *		=Recent Comments Widget
 *		=Tag Cloud Widget
 *		=Calendar Widget
 *		=Nav Menu Widget
 *		=RSS Widget
 *	=WordPress Custom Widgets
 *		=EWF Twitter widget
 *		=EWF Flickr widget
 *		=EWF Contact Info widget
 *		=EWF Newsletter subscribe widget
 *		=EWF Latest posts widget
 *		=EWF Navigation widget
 *		=EWF Social media widget
 *	=WordPress Comments
 *	=WordPress Comment Form
 *
 */

 
/* ==========================================================================
   =Accordions and toggles
   ========================================================================== */

/* =Accordion
   ========================================================================== */
	
	.accordion { margin-bottom: 30px; }

	.accordion-item {
		position: relative;
		display: block;
		padding: 20px 0;
		border-top: 1px solid #e0e0e0;
		margin-left: 60px;
		font-size: 16px;
		text-transform: uppercase;
	}
	
	.accordion-item:first-of-type { padding-top: 0; }
	.accordion-item:first-of-type { border-top: none; }
	
	.accordion-item:after {
		position: absolute;
		top: 20px;
		left: -60px;
		color: #e0e0e0;
		font-size: 36px;
		font-weight: 300;
		content: "+";
	}
	
	.accordion-item:first-of-type:after { top: 0; }
	
	.accordion-item.active:after {
		color: #7a7885;
		content: "-";
	}
	
	.accordion-item:hover,
	.accordion-item.active {
		font-weight: 700; 
		text-decoration: none; 
	}
	
	.accordion-item.active { border-bottom: none; }
	
	.accordion-item-content { 
		display: none;
		margin-left: 60px;
	}
	
	.accordion-item-content:last-child { border-bottom: none; }
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.accordion-item-content:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
/* =toggle
   ========================================================================== */

	.toggle { margin-bottom: 30px; }

	.toggle-item {
		position: relative;
		display: block;
		padding: 20px 0;
		border-top: 1px solid #e0e0e0;
		margin-left: 60px;
		font-size: 16px;
		text-transform: uppercase;
	}
	
	.toggle-item:first-of-type { padding-top: 0; }
	.toggle-item:first-of-type { border-top: none; }
	
	.toggle-item:after {
		position: absolute;
		top: 20px;
		left: -60px;
		color: #e0e0e0;
		font-size: 36px;
		font-weight: 300;
		content: "+";
	}
	
	.toggle-item:first-of-type:after { top: 0; }
	
	.toggle-item.active:after {
		color: #7a7885;
		content: "-";
	}
	
	.toggle-item:hover,
	.toggle-item.active {
		font-weight: 700; 
		text-decoration: none; 
	}
	
	.toggle-item.active { border-bottom: none; }
	
	.toggle-item-content { 
		display: none;
		margin-left: 60px;
	}
	
	.toggle-item-content:last-child { border-bottom: none; }
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.toggle-item-content:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}

/* ==========================================================================
   =Alerts
   ========================================================================== */

	.alert {
		padding: 13px 15px;
		margin-bottom: 30px;
		background-color: #b7cc99;
		color: #fff;
		font-weight: 400;
		letter-spacing: 0;
	}
	
	.alert i {
		position: relative;
		top: 1px;
		margin-right: 7px;
		font-size: 16px;
	}
	
	.alert.info { 
		background-color: #f3f3f3;
		color: #7a7885;
	}
	
	.alert.success { 
		background-color: #e5e5e5;
		color: #7a7885
	}
	
	.alert.error { 
		background-color: #7a7885;
		color: #fff;
	}
	
	.alert.warning {
		background-color: #a1a1a1;
		color: #fff;
	}
	
/* ==========================================================================
   =Animations
   ========================================================================== */
   
   .animate {
		-webkit-animation-duration: 1s;
				animation-duration: 1s;
		-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
		visibility: hidden;
	}

	.animate.visible { visibility: visible; }
	.animate.hidden { visibility: hidden; }
   
/* ==========================================================================
   =Buttons
   ========================================================================== */

/* =Default Button
   ========================================================================== */
   
	.btn { 
		display: inline-block; 
		padding: 2px 10px; 
		border: 2px solid #7a7885;
		border-radius: 3px;
		margin: 0 5px 20px 0;
		background-color: transparent;
		color: #7a7885;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none !important;
		vertical-align: middle;
		cursor: pointer;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 	
	}
	
	a.btn { color: #7a7885; }
	
	.btn:focus { outline: 0; }
	
	.btn-large {
		padding: 12px 24px;
		font-size: 16px;
	}
	
	.btn i,
	.btn-large i { 
		float: right; 
		margin: 0 5px;
		font-size: 15px; 
		line-height: 25px; 
	}
	
	.btn:hover { 
		background: #7a7885;
		color: #fff;
	}

/* ==========================================================================
   =Clients logo slider
   ========================================================================== */
	
	.client-logos-slider .owl-item { padding: 150px 0; }
	
	.client-logos-slider .client-item { 
		position: relative;
		text-align: center;
	}
	
	.client-details {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 10px;
		border: 2px solid #7a7885;
		border-radius: 3px;
		background-color: #fff;
		text-align: left;
		opacity: 0;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.client-details:before {
		position: absolute;
		z-index: 1;
		bottom: -15px;
		left: 50%;
		width: 0; 
		height: 0; 
		border-top: 15px solid #7a7885;
		border-right: 10px solid transparent; 
		border-left: 10px solid transparent;
		margin-left: -10px;
		content: "";
		-moz-transform: scale(0.9999);
	}
	
	.client-details:after {
		position: absolute;
		z-index: 2;
		bottom: -12px;
		left: 50%;
		width: 0; 
		height: 0; 
		border-top: 13px solid #fff;
		border-right: 8px solid transparent; 
		border-left: 8px solid transparent;
		margin-left: -8px;
		content: "";
		-moz-transform: scale(0.9999);
	}
	
	.client-details p:last-child { margin-bottom: 0; }
	
	.client-logos-slider .client-item:hover .client-details {
		bottom: 50%;
		opacity: 1;
		-webkit-transform: translateY(-50%);
				transform: translateY(-50%); 
	}
   

/* ==========================================================================
   =Custom Lists
   ========================================================================== */

	/**
 	 * Custom lists
 	 *
	 * 1. unstyled list
	 * 2. list with squares for bullets
	 * 3. list with discs for bullets
	 *
	 */
	 
	ul.unstyled { list-style-type: none; } /* 1 */
	ul.square { list-style-type: square; } /* 2 */
	ul.circle { list-style-type: circle; } /* 3 */
	
	/**
 	 * Icon-font-custom lists
 	 *
	 * 1. Check list
	 *
	 */
	 
	ul.check { list-style: none; }			/* 1 */
	
	ul.check li:before {
		display: inline-block;
		width: 25px;
		height: 25px;
		margin-right: 15px;
		background-color: #f6f6f6;
		color: #7a7885;
		font-family: 'iconfontcustom';
		font-size: 14px;
		line-height: 25px;
		font-style: normal;
		text-align: center;
	}
	
	ul.check li:before { content: ""; }	
	
	ul.check li { margin-bottom: 15px; }
	ul.check li:last-child { margin-bottom: 0; }

/* ==========================================================================
   =Dividers
   ========================================================================== */

	.divider { margin: 30px 0; }
	
	.divider.single-line { border-top: 1px solid #e0e0e0; }
	
	.divider.double-line { border-top: 4px double #e0e0e0; }
	
	.divider.single-dotted {
		 height: 1px;
		 background: url(../images/bg-single-dotted.gif) repeat-x top left ;  
	}
	
	.divider.double-dotted { 
		height: 4px;
		background: url(../images/bg-double-dotted.gif) repeat-x top left; 
	}	
   
/* ==========================================================================
   =Google Maps
   ========================================================================== */

	 /**
	 * 1. needed so that Google Maps controls are not distorted
	 */
	 
	.google-map {}
	.google-map  img { max-width: none; }	/* 1 */
	
	.map { 
		width: 100%; 
		height: 600px; 
	}
	
	.map-wrapper { 	
		position: relative;
		margin: 50px 0 110px 0; 
	}
	
	.map-overlay {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 50px;
		background-color: #fff;
	}
	
	.map-overlay img {
		float: left;
		display: block;
		margin: 15px 30px 20px 0;
	}
	
	.map-overlay .ewf_widget_contact_info {
		margin-bottom: 0; 
		margin-left: 100px;
	}
	
	@media (max-width: 767px) {
		
		.map { 
			height: 300px;
			margin-bottom: 30px;
		}
		
		.map-overlay {
			position: relative;
			padding: 0;
			background-color: transparent;
		}
		
		.map-overlay img { float: none; }
		
		.map-overlay .ewf_widget_contact_info { margin-left: 0; }
		
	}

/* ==========================================================================
   =Headlines
   ========================================================================== */

	.headline {
		margin-bottom: 24px;
		text-align: left;
	}
	
	.headline h2:after {
		display: none;
		width: 35px;
		border-bottom: 4px solid #7a7885;
		margin: 7px auto 0 auto;
		content: "";
		text-align: left;
	}
	
	
/* ==========================================================================
   =Icon Boxes
   ========================================================================== */

/* =Icon Box 1
   ========================================================================== */
   
	.icon-box-1 { 
		position: relative; 
		margin-bottom: 80px;
		text-align: justify;
	}
		
	.icon-box-1 > i { 
		display: block;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		margin: 0 auto 30px auto;
		background-color: #7a7885;
		color: #fff;
		font-size: 32px;
		line-height: 75px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.icon-box-1 > img { margin-bottom:10px; float:left;}
	
	.icon-box-1 h4 { margin-bottom: 10px; }
	
	.icon-box-1 h4 .titulo {margin-left: 75px; padding-top: 8px; font-size: 20px;}
	
	.icon-box-1 p {padding-top: 20px;}
	
	.icon-box-1 .btn { margin-top: 20px; }
	
	.icon-box-1 .icon-box-content {}	
	
	.icon-box-1:hover > i { background-color: #5c5a69; }

/* =Icon Box 2
   ========================================================================== */
   
	.icon-box-2 { 
		position: relative; 
		margin: 30px 0 50px 0;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 
	}	
	
	/**
	 * 1. Stop bg color from leaking outside the border	
	 */
	
	.icon-box-2 > i {
		position: absolute;	 
		z-index: 20; 
		left: 50%; 
		width: 60px; 
		height: 60px;
		margin-top: -30px; 
		margin-left: -30px;
		background-color: #7a7885;		
		color: #fff;
		font-size: 25px;
		line-height: 60px;
		text-align: center; 
		-webkit-transition: background-color 0.3s;
				transition: background-color 0.3s; 
	}
	 
	.icon-box-2 .icon-box-content { 
		position: relative;
		z-index: 10;
		padding: 60px 20px 30px 20px;
		border: 2px solid #7a7885;  
		margin-top: 16px;
		text-align: center; 
	}
	
	.icon-box-2 h4 { margin-bottom: 30px; }
	
	.icon-box-2:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
	.icon-box-2:hover a { color: #fff; }
	
	.icon-box-2:hover > i { background-color: #5c5a69; }
	
/* =Large Icon
   ========================================================================== */
   
   	.large-icon {
		font-size: 48px;
		line-height: 48px;
	}

/* ==========================================================================
   =Milestones
   ========================================================================== */

	.milestone {
		position: relative;
		margin: 20px 0 50px;
		text-align: center;
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	.milestone:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	.milestone i {
		z-index: 20;
		margin-right: 10px;
		font-size: 32px;
	}
	
	.milestone .milestone-content {
		z-index: 10;
		font-size: 48px;
		line-height: 64px;
		font-weight: 700;
	}
	
	.milestone .milestone-description { 
		font-size: 16px; 
		line-height: 24px;
		text-transform: uppercase;
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.milestone .milestone-content {
			font-size: 40px;
			line-height: 58px;
		}
		
	}
	
/* ==========================================================================
   =Odometer
   ========================================================================== */
	
	.odometer {
		position: relative;
		left: 50%;
		font-family: "Raleway", Arial, sans-serif;
		font-size: 72px;
		line-height: 88px;
		font-weight: 700;
		text-align: center;
		-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	
	.odometer:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 20px;
		border-top: 8px solid #7a7885;
		margin: 0 auto;
		content: "";
	}
	
	.odometer-description {
		margin-bottom: 30px;
		font-size: 18px; 
		line-height: 27px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 900;
	}
	
	.odometer-formatting-mark { display: none; }
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.odometer { font-size: 60px; }
		
	}
	
/* ==========================================================================
   =Our Process
   ========================================================================== */

/* =Horizontal process
   ========================================================================== */

	.horizontal-process-builder { 
		position: relative;
		margin-bottom: 40px;
		list-style: none;
		text-align: center; 
	}
	
	.horizontal-process-builder:before {
		position: absolute;
		z-index: 1;
		top: 60px;
		left: 133px;
		display: block;
		width: 75%;
		border-top: 2px solid #7a7885;
		content: "";
	}
	
	.horizontal-process-builder li { 
		float: left;
		width: 25%;  
	}
	
	.horizontal-process-builder li i,
	.horizontal-process-builder li h1,
	.horizontal-process-builder li img {
		position: relative;
		z-index: 2;
		display: block;
		width: 120px; 
		height: 120px;
		overflow: hidden;  
		border: 2px solid #7a7885;
		border-radius: 50%;
		outline: 5px solid #fff;
		margin: 0 auto 20px;
		background-color: #fff;
		color: #7a7885;
		background-clip: padding-box;
		font-size: 48px; 
		line-height: 120px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 
	}
	
	.horizontal-process-builder li:hover i,
	.horizontal-process-builder li:hover h1 { 
		background-color: #7a7885;
		color: #fff;
	}

	.horizontal-process-builder.three-items li { width: 33.3333333333%; }
	.horizontal-process-builder.four-items li { width: 25%; }
	.horizontal-process-builder.five-items li { width: 20%; }
	
	.process-description { padding: 0 10px; }
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.horizontal-process-builder:before { left: 120px; }
		
	}
	
	@media (max-width: 767px) {
		
		.horizontal-process-builder li { 
			float: none;
			width: 100%;
			margin-bottom: 40px; 
		}
		
		.horizontal-process-builder:before { content: none; }
		
		.horizontal-process-builder.three-items li { width: 100%; }
		.horizontal-process-builder.four-items li { width: 100%; }
		.horizontal-process-builder.five-items li { width: 100%; }
		
	}

/* ==========================================================================
   =Pie charts
   ========================================================================== */

	.pie-chart {
		position: relative;	
		margin: 0 auto 30px auto;
		text-align: center;
	}
	
	.pie-chart canvas {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}
	
	.pie-chart i, 
	.pie-chart .pie-chart-custom-text, 
	.pie-chart .pie-chart-percent {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		text-align: center;
	}
	
	.pie-chart img {
		max-width: 100%;
		vertical-align: middle;
	}
	
	.pie-chart .pie-chart-custom-text { font-size: 18px; }
	
	.pie-chart .pie-chart-percent {
		font-size: 18px;
		font-weight: 700;
	}
	
	.pie-chart-description {
		display: block;
		letter-spacing: 1px;
		text-align: center;
	}
	
	.pie-chart-description h3 {
		margin-bottom: 25px;
		font-weight: 700;
		text-transform: none;
	}

/* ==========================================================================
   =Pricing Tables
   ========================================================================== */

	.pricing-table {
		padding: 60px 20px 20px 20px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		border: 2px solid #7a7885;
		margin-bottom: 30px;
		text-align: center;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}

	.pricing-table-header {	margin-bottom: 20px; }
	
	.pricing-table-header h2 { margin-bottom: 30px; }

	.pricing-table-header h1 {
		padding: 10px 0;
		font-size: 100px;
		line-height: 60px;
		font-weight: 400;
	}
	
	.pricing-table-header h1 small {
		display: block;
		font-size: 14px;
		font-weight: 300;
	}

	.pricing-table-header h4 {}
		
	.pricing-table-offer {}
	
	.pricing-table-offer ul {
		margin-bottom: 40px;
		list-style: none; 
	}
	
	.pricing-table-offer ul li {
		margin-bottom: 10px;
		letter-spacing: 1px;
	}
	
	.pricing-table-offer ul li:after {
		display: block;
		width: 15px;
		border-bottom: 4px solid #d7d7d7;
		margin: 10px auto 0 auto;
		content: "";
	}
	
	.pricing-table-offer ul li:last-child { margin-bottom: 0; }
	.pricing-table-offer ul li:last-child:after { content: none; }
	
	.pricing-table:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
	.pricing-table:hover .btn {
		border-color: #fff;
		color: #fff; 
	}
	
	.pricing-table:hover .btn:hover { background-color: #5c5a69; }
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.pricing-table-header h2 {
			font-size: 18px;
			letter-spacing: 2px;
		}
		
		.pricing-table-header h1 {
			font-size: 60px;
			line-height: 40px;
		}
		
		.pricing-table .btn { letter-spacing: 1px; }
		
	}

/* ==========================================================================
   =Progress Bar
   ========================================================================== */

	.progress-bar-description {
		display: block;
		margin-bottom: 15px;
		font-weight: 900;
		line-height: 14px;
		text-transform: uppercase;
	}
	
	.progress-bar-description span {
		float: right;
		font-size: 18px;
	}
	
	.progress-bar {
		position: relative;
		display: block;
		height: 16px;
		margin-bottom: 35px;
		background-color: #d7d7d7;
	}
	
	.progress-bar .progress-bar-outer {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: #7a7885;
	}
	
	.progress-bar .progress-bar-outer .progress-bar-inner {
		position: absolute;
		z-index: 1;
		overflow: hidden;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
	}

/* ==========================================================================
   =Social Media
   ========================================================================== */

	a.social-icon {
		float: left;
		display: block;
		width: 28px;
		height: 28px;
		border: 2px solid #7a7885;
		border-radius: 3px;
		margin-right: 1px;
		margin-bottom: 1px;
		text-align: center;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}

	a.social-icon:last-child { margin-right: 0; }

	a.social-icon i {
		font-size: 16px;
		line-height: 28px;
	}
	
	a.social-icon:hover {
		border-color: #d7d7d7;
		color: #d7d7d7;
		text-decoration: none;
	}

/* ==========================================================================
   =Styled Tables
   ========================================================================== */

	.table-bordered { 
		border: 1px solid #ddd; 
		border-left: none; 
		border-collapse: separate; 		
	}
	
	.table-bordered th, 
	.table-bordered td { border-left: 1px solid #ddd; }
	
	.table-bordered caption + thead tr:first-child th,
	.table-bordered caption + tbody tr:first-child th,
	.table-bordered caption + tbody tr:first-child td,
	.table-bordered colgroup + thead tr:first-child th,
	.table-bordered colgroup + tbody tr:first-child th,
	.table-bordered colgroup + tbody tr:first-child td,
	.table-bordered thead:first-child tr:first-child th,
	.table-bordered tbody:first-child tr:first-child th,
	.table-bordered tbody:first-child tr:first-child td { border-top: none; }

	.table-condensed th,
	.table-condensed td { padding: 4px 8px; }
	
	.table-striped tbody tr:nth-child(odd) td,
	.table-striped tbody tr:nth-child(odd) th { background-color: #fff; }	

	@media (max-width: 80px) {
	
		/**
		 * Force table to not be like tables anymore
		 */
		 
		table, 
		thead, 
		tbody, 
		th, 
		td, 
		tr { display: block; }
		
		.table-bordered { border-top: none; }
		
		/**
		 * Hide table headers
		 */
	
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border-top: 1px solid #5c5a69; }
		
		td:first-child { border-top: none !important; }
	  
	}

/* ==========================================================================
   =Tabs
   ========================================================================== */

/* =Horizontal tabs
   ========================================================================== */
		
   /*
    *  1. Wraps around a horizontal tab group
	*/
   
	.tabs-container {} /* 1 */

	.tabs-container .tabs-menu { 
		margin-top: 10px; 
		margin-bottom: 0;
		list-style: none; 
	}
	
	.tabs-container .tabs-menu li { display: inline-block; }
	
	.tabs-container .tabs-menu li a { 
		float: left; 
		display: block;
		padding: 8px 20px 10px 20px;
		border-top: 2px solid #f6f6f6;
		background-color: #f6f6f6;
		color: #7a7885;
		font-weight: 900;
		text-decoration: none;
		text-transform: uppercase;
	}
	
	.tabs-container .tabs-menu li a:hover {
		border-top-color: #7a7885; 
		text-decoration: none; 
	}
	
	.tabs-container .tabs-menu li.active a {
		border-top-color: #7a7885; 
		background-color: transparent; 
	}
	
	.tabs-container .tabs {
		border-top: none;   
		margin-bottom: 30px;
	}
	
	.tabs-container .tab-content { padding: 40px; }
	
	.tabs-container .tab-content i {
		float: left;
		display: block;
		font-size: 60px;
		line-height: 60px;
	}
	
	.tabs-container .tab-content p { margin-left: 100px; }
	.tabs-container .tab-content p:last-child { margin-bottom: 0; }
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.tabs-container .tab-content i { margin-right: 20px; }
		.tabs-container .tab-content p { margin-left: 0; }
		
	}
	
	@media (max-width: 767px) {
	
		.tabs-container .tabs-menu { border-bottom: none; }
		
		.tabs-container .tabs-menu li { display: block; }
	
		.tabs-container .tabs-menu li a { 
			float: none; 
			display: block;
			padding: 20px 25px;
			border: 1px solid #7a7885;
			border-top: none;
			margin: 0;
		}
		
		.tabs-container .tabs-menu li a:hover { text-decoration: none; }
		
		.tabs-container .tabs-menu li:first-child a { border-top: 1px solid #7a7885; }
		
		.tabs-container .tabs-menu li.active a {  
			padding: 20px 25px;
			border-bottom-color: #5c5a69;
			margin: 0;
			background-color: #fff; 
		}
		
		.tabs-container .tab-content i {
			float: none;
			margin-bottom: 10px;
		}
		
		.tabs-container .tab-content { padding: 15px; }
		
		.tabs-container .tab-content p { margin-left: 0; }
	  
	}
	
/* ==========================================================================
   =Testimonials
   ========================================================================== */

	.testimonial { 
		margin-bottom: 30px;
		text-align: center;
	}	
	
	.testimonial blockquote { 
		position: relative;  
		margin-bottom: 20px;  
	}
	
	.testimonial blockquote h3 {
		margin-bottom: 25px;
		font-weight: 300;
		text-transform: none;
		text-align: justify;
	}
	
	.testimonial h4 {}
	
	.testimonial h4 small {
		display: block;
		font-size: 12px;
		font-weight: 300;
	}

	.testimonial img { 
		border-radius: 50%;  
		margin-bottom: 30px;
	}
	
	
	.testimonial.alt { text-align: left; }
	
	.testimonial.alt img {
		float: left;
		margin-right: 30px;
	}
	
	.testimonial.alt h4 { padding-top: 13px; }
	
/* ==========================================================================
   =Team Member
   ========================================================================== */

	.team-member {
		position: relative;
		margin-bottom: 30px;
		text-align: center;
	}
	
	.team-member img {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		-webkit-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	.team-member .team-member-details { 
		position: relative;
		top: 0;
		-webkit-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	.team-member .team-member-details h4 small {
		display: block;
		font-size: 12px;
		font-weight: 300;
	}
	
	
	.team-member .social-media {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		margin-bottom: 15px;
		font-size: 0;
		text-align: center;
		opacity: 0;
		-webkit-transform: scale(0);
				transform: scale(0);
		-webkit-transition: all 0.5s;
				transition: all 0.5s; 
	}
	
	.team-member .social-media a.social-icon {
		float: none;
		display: inline-block;
	}
	
	.team-member:hover img { opacity: 0.3; }
	
	.team-member:hover .team-member-details { top: -220px; }
	
	.team-member:hover .social-media {
		opacity: 1;
		-webkit-transform: scale(1);
				transform: scale(1); 
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.team-member:hover .team-member-details { top: -165px; }
		
	}
	
/* ==========================================================================
   =Portfolio Item
   ========================================================================== */
	
	.portfolio-item { 
		position: relative; 
		margin-bottom: 50px;
	}
	
	.portfolio-item a { text-decoration: none; }
	
	.portfolio-item-preview { position: relative; }
	
	.portfolio-item-preview > img {
		display: block;
		width: 100%;
	}
	
	.portfolio-item-overlay {
		position: absolute; 
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0; 
		background-color: rgba(122, 120, 133, 0.5);
		opacity: 0;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-item-overlay:before {
		position: absolute;
		top: 0;
		left: 50%;
		color: #fff;
		font: 42px/42px "iconfontcustom";
		content: "";
		-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
		-webkit-transition: top 0.3s;
				transition: top 0.3s;
	}
	
	.portfolio-item:hover .portfolio-item-overlay:before { top: 50%; }
	
	.portfolio-item:hover .portfolio-item-overlay { opacity: 1; }	
	
	.portfolio-item-zoom { cursor: zoom-in; }	
	
	.portfolio-item-description {
		padding: 25px 0;
		text-align: center;
		-webkit-transition: 0.3s;
				transition: 0.3s;
	}
	
	.portfolio-item.alt .portfolio-item-description {
		position: relative; 
		text-align: left;
		padding-right: 150px; 
	}
	
	.portfolio-item.alt .portfolio-item-description .btn {
		position: absolute;
		top: 20px;
		right: 0;
		margin-top: 10px;
		text-transform: uppercase;
	}
	
	.portfolio-item-description h3,
	.portfolio-item-description h4,
	.portfolio-item-description h5 {
		margin-bottom: 0;
		font-weight: 700;
	}
	
	.portfolio-item:hover .portfolio-item-description {
		background-color: #7a7885;
		color: #fff;
	}
	
	.portfolio-item.alt:hover .portfolio-item-description { 
		background-color: transparent;
		color: #7a7885;
	}
	
	@media (max-width: 767px) {
		
		.portfolio-item.alt .portfolio-item-description .btn { 
			position: relative;
			top: 0;
		}
		
	}
	
/* ==========================================================================
   =Portfolio Item Navigation
   ========================================================================== */
   	
	.portfolio-item-navigation { 
		float: right;
		margin-bottom: 30px;
	}
	
	@media (max-width: 767px) {
		
		.portfolio-item-navigation { 
			float: none;
			margin-top: 20px;
		}
		
	}
	
/* ==========================================================================
   =Portfolio Filter
   ========================================================================== */
	
	.portfolio-filter ul {
		margin-bottom: 100px;
		text-align: center;
		list-style: none;
	}
	
	.portfolio-filter ul li { 
		display: inline-block;
		margin-right: 25px;
	}
	
	.portfolio-filter ul li:last-child { margin-right: 0; }
	
	.portfolio-filter ul li a {
		padding: 7px 15px;
		border: 2px solid #7a7885;
		border-radius: 3px;
		font-size: 12px;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-filter ul li a:hover,
	.portfolio-filter ul li a.active {
		background-color: #7a7885;
		color: #fff; 
	}	
	
	@media (max-width: 767px) {
		
		.portfolio-filter ul li { 
			display: block;
			margin-right: 0;
			margin-bottom: 15px;
		}
		
		.portfolio-filter ul li:last-child { margin-bottom: 0; }
		
		.portfolio-filter ul li a { display: block; }
		
	}

/* ==========================================================================
   =Portfolio Pagination
   ========================================================================== */
	
	.pagination {
		margin-bottom: 60px;
		list-style: none; 
	}
	
	.pagination li { display: inline-block; }

	.pagination a { 
		display: block; 
		padding: 3px 10px; 
		border: 2px solid #7a7885;
		border-radius: 3px;
		margin-right: 5px;
		margin-bottom: 2px;
		font-weight: 700;
		text-decoration: none;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.pagination li:last-child a { margin-right: 0; }
	
	.pagination li.current a,
	.pagination li a:hover { 
		background-color: #7a7885; 
		color: #fff; 
	}	

/* ==========================================================================
   =Portfolio Columns
   ========================================================================== */
	
	.portfolio-columns { margin: -20px -15px 50px -15px; }
	
	.portfolio-columns .item {
		float: left;
		width: 33.3333333333%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 20px 10px;
		
	}
	
	.portfolio-columns .item .portfolio-item { margin-bottom: 0; }
	
	@media (min-width: 1400px) {
			
		.portfolio-columns .item {}
		
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.portfolio-columns .item { 
			width: 33.3333333333%;
			padding: 20px 7.5px;
		}
		
	}
	
	@media (max-width: 767px) {
		
		.portfolio-columns .item {
			float: none;
			width: 100%; 
		}
		
	}
   
/* ==========================================================================
   =Contact form
   ========================================================================== */
  
	#contact-form { 
		overflow: hidden; 
		margin-bottom: 60px; 
	}
	
	#contact-form fieldset {}
	
	label.validation-error { color: #d50f25; }
	
	input.validation-error,
	textarea.validation-error,
	select.validation-error { border: 1px solid #e0e0e0; }
	
	#contact-form #formstatus {}
		
	#contact-form textarea {}	  
	         
/* ==========================================================================
   =Blog
   ========================================================================== */

	.blog-post { margin-bottom: 80px; }
	
	.blog-post-title {
		margin-bottom: 20px;
		font-size: 12px; 
	}
	
	.blog-post-title h4 { margin-bottom: 0; }
	
	.blog-post-title p {
		padding: 5px 10px;
		margin-top: 20px;
		background-color: #f6f6f6;
		font-style: italic;
		letter-spacing: 1px;
	}
	
	.blog-post-thumb { 
		position: relative;
		margin-bottom: 20px;
	}
	
	.blog-post-thumb img { display: block; }
	
	.blog-post-info {
		float: left;
		width: 50px;
		padding: 10px 0 5px 0;
		border-radius: 3px;
		margin-right: 20px;
		background-color: #7a7885;
		color: #fff;
		font-size: 24px;
		line-height: 16px;
		font-weight: 700;
		letter-spacing: 0;
		text-align: center;
		text-transform: uppercase;
	}
	
	.blog-post-thumb .blog-post-info {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
	
	.blog-post-info small { font-size: 12px; }
	
	.blog-post-readmore {}
	
	.blog-post blockquote {
		position: relative;
		margin: 50px 0 50px 50px;
		padding-left: 100px;
	}
	
	.blog-post blockquote:before {
		position: absolute;
		top: 0;
		left: 0;
		font-family: "FontAwesome";
		font-size: 60px;
		line-height: 60px;
		content: "";
	}
	
	@media (max-width: 767px) {
		
		.blog-post blockquote { 
			padding-left: 40px;
			margin-left: 0;
		}
		
		.blog-post blockquote:before {
			font-size: 28px;
			line-height: 28px;
		}
		
	}

/* ==========================================================================
   =Fullwidth Section
   ========================================================================== */
   
    /**
 	 * Full width section
 	 *
	 * 1. background-image must be supplied using inline css as it is different for every .fullwidth-section
	 *
	 */
	 
   .fullwidth-section {
		position: relative;
		overflow: hidden;
		z-index: 0;	
		padding: 120px 0;
		margin: 75px 0;
		background-color: #f6f6f6;
		background-attachment: scroll;
		background-repeat: no-repeat; /* 1 */ 
		background-position: 50% 0;		
	}

	.fullwidth-section-content {
		position: relative;
		z-index: 3;
	}
	
		.fullwidth-section-content-clients {
		position: relative;
		z-index: 3;
		background-color: white !important;
	}
   
   	.fullwidth-section-overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: repeat;
		background-position: 0 0;	
	}
	
	.fullwidth-section-video {
		position: absolute;
		overflow: hidden;
		z-index: 1;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
	.parallax.parallax-enabled { 
		background-attachment: fixed !important;
		-webkit-background-size: cover;
				background-size: cover;	
	}
	

	.horizontal-parallax { background-repeat: repeat-x; }
	
	.animated-parallax { background-repeat: repeat-x; }
	
	
	.fullwidth-section.light-bg {}
	
	.fullwidth-section.dark-bg { 
		background-color: #333;
		color: #fff;
	}
	
	.fullwidth-section .horizontal-process-builder li i,
	.fullwidth-section .horizontal-process-builder li h1,
	.fullwidth-section .horizontal-process-builder li img { outline: none; }
	
	.fullwidth-section .tabs-container .tabs-menu li a { 
		background-color: transparent;
		border-top-color: transparent;
	}
	
	.fullwidth-section .tabs-container .tabs-menu li a:hover,
	.fullwidth-section .tabs-container .tabs-menu li.active a { border-color: #7a7885; }
	
	.fullwidth-section .blog-post-title p { background-color: transparent; }
	
	.fullwidth-section .table-striped tbody tr:nth-child(odd) td,
	.fullwidth-section .table-striped tbody tr:nth-child(odd) th { background-color: transparent; }
	
	.fullwidth-section.dark-bg a,
	.fullwidth-section.dark-bg .tabs-container .tabs-menu li a { color: #fff; }
	
	.fullwidth-section.dark-bg .btn,
	.fullwidth-section.dark-bg .headline h2:after,
	.fullwidth-section.dark-bg .icon-box-2 .icon-box-content,
	.fullwidth-section.dark-bg .milestone .milestone-value:before,
	.fullwidth-section.dark-bg .odometer:before,
	.fullwidth-section.dark-bg .tabs-container .tabs-menu li a:hover,
	.fullwidth-section.dark-bg .tabs-container .tabs-menu li.active a,
	.fullwidth-section.dark-bg .pricing-table, 
	.fullwidth-section.dark-bg .portfolio-filter ul li a,
	.fullwidth-section.dark-bg .pagination a,
	.fullwidth-section.dark-bg table th, 
	.fullwidth-section.dark-bg table td,
	.fullwidth-section.dark-bg .table-bordered { border-color: #fff; }
	
	
	/* Backgrounds for fullwidth sections */
	
	#bg-video { 
		padding: 300px 0;
		background-image: url(../../_content/backgrounds/1920x800.jpg);
	}
	
	#bg-1 { 
		padding-bottom: 100px;
		margin: 30px 0 100px 0;
	}
	
	#bg-2 {
		padding-top: 155px;
		margin-bottom: 115px;
		background-image: url(../../_content/backgrounds/1920x800.jpg);
	}
	
	#bg-3 { 
		padding-bottom: 80px;
		margin: 25px 0 100px 0;
	}
	
	#bg-4 {
		padding: 0;
		margin: 125px 0 65px 0; 
	}
	
	#bg-5 {
		padding: 100px 0 50px 0;
		margin: 100px 0 65px 0;
		font-size: 16px;
		line-height: 27px;
	}
	
	#bg-6 { 
		padding-bottom: 20px;
		margin-bottom: 120px;
	}
	
	#bg-7 { 
		background-image: url(../../_content/backgrounds/1920x2880.jpg);
		margin-bottom: 125px;
	}
	
	#bg-8 { 
		padding-bottom: 80px;
		margin-bottom: 115px;
	}
	
	#bg-9 { 
		padding-bottom: 60px;
		margin: 100px 0 65px 0;
	}
	
	#newsletter #newsletter-subscribe-form input[type="text"] {
		display: inline-block; 
		width: 80%;
		margin-bottom: 0;
	}
	
	#newsletter #newsletter-subscribe-form input[type="submit"] {
		margin: 0;
		margin-left: 30px;
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		#newsletter #newsletter-subscribe-form input[type="text"] { width: 65%; }
		
	}
	
	@media (max-width: 767px) {

		.fullwidth-section {
			-webkit-background-size: cover;
					background-size: cover;		
		}
		
		.fullwidth-section .tabs-container .tabs-menu li a { border-color: #7a7885; }
		
		.fullwidth-section .tabs-container .tabs-menu li.active a,
		.fullwidth-section .tabs-container .tabs-menu li a:hover { 
			background-color: #fff;
			color: #7a7885;
		}
		
		.fullwidth-section.dark-bg .tabs-container .tabs-menu li a { border-color: #fff; }
		
		#newsletter #newsletter-subscribe-form input[type="text"] { 
			display: block;
			width: 100%;
			margin-bottom: 20px; 
		}
		
		#newsletter #newsletter-subscribe-form input[type="submit"] { margin-left: 0; }
		
	}
	
/* ==========================================================================
   =WordPress Default Classes
   ========================================================================== */
   
    .ewf-inline-style { display: none; }
	
	.wp-caption {}
	
	.wp-caption-text {}
	
	.sticky {}
	
	.gallery-caption {}
	
	.alignright  {}
	
	.alignleft  {}
	
	.aligncenter  {}
	
	.alignnone { margin: 5px 20px 20px 0; }

	.aligncenter,
	div.aligncenter {
		display: block;
		margin: 5px auto;
	}

	.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}

	.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	.aligncenter {
		display: block;
		margin: 5px auto;
	}

	a img.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}

	a img.alignnone { margin: 5px 20px 20px 0; }

	a img.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	a img.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	/**
 	 * 1. Image does not overflow the content area
 	 */
	
	.wp-caption {
		max-width: 96%; /* 1 */
		padding: 5px 3px 10px;
		border: 1px solid #e0e0e0;
		background: #fff;
		text-align: center;
	}

	.wp-caption.alignnone { margin: 5px 20px 20px 0; }

	.wp-caption.alignleft { margin: 5px 20px 20px 0; }

	.wp-caption.alignright { margin: 5px 0 20px 20px; }

	.wp-caption img {
		max-width: 98.5%;
		width: auto;
		height: auto;
		padding: 0;
		border: none;
		margin: 0;
	}

	.wp-caption p.wp-caption-text {
		padding: 0 4px 5px 4px;
		margin: 0;
		font-size: 11px;
		line-height: 17px;		
	}
	
/* ==========================================================================
   =WordPress Widgets
   ========================================================================== */
	
/* =Widgets default
   ========================================================================== */
	
	.widget { margin-bottom: 75px; }
	
	.widget-title { 
		margin-bottom: 45px;
		line-height: 18px;  
	}
	
	#footer-wrapper .widget { margin-bottom: 50px; }
	
/* =Text Widget
   ========================================================================== */
	
	.widget_text {}
	
	.textwidget {}
	
/* =Search Widget
   ========================================================================== */
	
	.widget_search {}
	
	#searchform { position: relative; }
	
	.screen-reader-text { display: none; }
	
	#s { 
		display: inline-block; 
		width: 100%; 
		-webkit-box-sizing: border-box; 
		   -moz-box-sizing: border-box; 
		   		box-sizing: border-box; 
	}
	
	#searchsubmit {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		background: url(../images/bg-search.png) no-repeat center center;
		vertical-align: inherit;
	}

/* =Recent Entries Widget
   ========================================================================== */
	
	.widget_recent_entries {}
	
	.widget_recent_entries ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_recent_entries ul li {}
	
	.widget_recent_entries ul li img { 
		float: left;
		margin-right: 20px;
	}	
	
	.widget_recent_entries ul li a {}
	
	.widget_recent_entries ul li .post-date {}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.widget_recent_entries ul li img { display: none; }
		
	}
	
/* =Pages Widget
   ========================================================================== */
	
	.widget_pages {}
	
	.widget_pages ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_pages ul li {}
	
	.widget_pages a {
		display: block;
		padding: 10px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 
	}
	
	.widget_pages li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.widget_pages a:hover,
	.widget_pages li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
	#footer-wrapper .widget_pages li:nth-child(even) a { background-color: #5c5a69; }
	
/* =Archive Widget
   ========================================================================== */
	
	.widget_archive {}
	
	.widget_archive ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_archive ul li {}
	
	.widget_archive a {
		display: block;
		padding: 10px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 
	}
	
	.widget_archive li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.widget_archive a:hover,
	.widget_archive li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
	.widget_archive select {}
	
	.widget_archive option {}	
	
	#footer-wrapper .widget_archive li:nth-child(even) a { background-color: #5c5a69; }
	
/* =Categories Widget
   ========================================================================== */
	
	.widget_categories {}
	
	.widget_categories ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_categories ul li {}
	
	.widget_categories a {
		display: block;
		padding: 10px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 
	}
	
	.widget_categories li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.widget_categories a:hover,
	.widget_categories li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
	.widget_categories ul ul.children {}
	
	.widget_categories select{}
	
	.widget_categories select#cat {}
	
	.widget_categories select.postform {}
	
	.widget_categories option {}
	
	.widget_categories .level-0 {}
	
	.widget_categories .level-1 {}
	
	.widget_categories .level-2 {}
	
	.widget_categories .level-3 {}
	
	#footer-wrapper .widget_categories li:nth-child(even) a { background-color: #5c5a69; }
	
/* =Meta Widget
   ========================================================================== */
	
	.widget_meta {}
	
	.widget_meta ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_meta ul li {}
	
	.widget_meta a {
		display: block;
		padding: 10px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 
	}
	
	.widget_meta li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.widget_meta a:hover,
	.widget_meta li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
	#footer-wrapper .widget_meta li:nth-child(even) a { background-color: #5c5a69; }
	
/* =Recent Comments Widget
   ========================================================================== */
	
	.widget_recent_comments {}
	
	#recentcomments {
		margin-bottom: 0;
		list-style: none; 
	}
	
	#recentcomments li {}
	
	#recentcomments li a {}
	
	.recentcomments {}
	
/* =Tag Cloud Widget
   ========================================================================== */
	
	.widget_tag_cloud {}
	
	.widget_tag_cloud a {
		display: inline-block; 
		padding: 2px 10px; 
		border: 2px solid #7a7885;
		border-radius: 3px;
		margin: 0 5px 20px 0;
		background-color: transparent;
		color: #7a7885;
		font-weight: 700;
		text-decoration: none;
		cursor: pointer;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 	
	}
	
	.widget_tag_cloud a:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
	.widget_tag_cloud a:after {}
	
	.widget_tag_cloud a:before {}
	
	#footer-wrapper .widget_tag_cloud a { border-color: #d7d7d7; }
	
	#footer-wrapper .widget_tag_cloud a:hover { background-color: #5c5a69; }
	
/* =Calendar Widget
   ========================================================================== */
	
	.widget_calendar {}
	
	#calendar_wrap {}
	
	#calendar_wrap th {}
	
	#calendar_wrap td {}
	
	#wp-calendar tr td {}
	
	#wp-calendar caption {}
	
	#wp-calendar a {}
	
	#wp-calendar #today {}
	
	#wp-calendar #prev {}
	
	#wp-calendar #next {}
	
	#wp-calendar #next a {}
	
	#wp-calendar #prev a {}
	
/* =Nav Menu Widget
   ========================================================================== */
	
	.widget_nav_menu {}	
	
	.widget_nav_menu ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.widget_nav_menu ul li {}
	
	.widget_nav_menu a {
		display: block;
		padding: 10px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 
	}
	
	.widget_nav_menu li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.widget_nav_menu a:hover,
	.widget_nav_menu li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
	#footer-wrapper .widget_nav_menu li:nth-child(even) a { background-color: #5c5a69; }
	
/* =RSS Widget
   ========================================================================== */
	
	.widget_rss {}
	
	.widget_rss ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
/* ==========================================================================
   =WordPress Custom Widgets
   ========================================================================== */
   
/* =EWF Twitter widget
   ========================================================================== */
	
	.ewf_widget_latest_tweets {
		position: relative;
		padding-left: 30px;
		font-size: 13px;
	}
	
	.ewf_widget_latest_tweets:before {
		position: absolute;
		top: 0;
		left: 0;
		font-family: "FontAwesome";
		font-size: 24px;
		content: "";
	}
	
	.ewf-tweet-list .tweet {
		font-style: italic; 
		word-wrap: break-word;
		letter-spacing: 1px;
	}
	
	.ewf-tweet-list ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.ewf-tweet-list ul .user { margin-bottom: 10px; }
	
	.ewf-tweet-list ul .user img {
		margin-right: 10px;
		vertical-align: middle;
	}
	
	.ewf-tweet-list .timePosted { display: none; }
	
	.ewf-tweet-list .interact { display: none; }
	
	.ewf-tweet-list .interact a { margin-right: 10px; }
	
	.ewf-tweet-list .interact a:last-child { margin-right: 0; }
	
/* =EWF Flickr widget
   ========================================================================== */
	
	.ewf_widget_flickr {}
	
	.flickr-feed {}
	
	.flickr-feed .flickr_badge_image { display: inline; }
	
	.flickr-feed img { 
		width: 70px; 
		height: auto;
		padding: 0 5px 0 0; 
		border: none;
	}
	
	@media (min-width: 1400px) {
		
		.flickr-feed img { padding: 0 20px 15px 0; }
		
	}
	
/* =EWF Contact Info widget
   ========================================================================== */	
	
	.ewf_widget_contact_info {}
	
	#footer .ewf_widget_contact_info { margin-top: 5px; }
	
	.ewf_widget_contact_info ul {
		margin-bottom: 0;
		list-style: none;
	}
	
	.ewf_widget_contact_info ul li {
		position: relative;
		letter-spacing: 1px;
	}
	
	.ewf_widget_contact_info ul li:last-child { margin-bottom: 0; }
	
	.ewf_widget_contact_info ul li a {}
	
/* =EWF Newsletter subscribe widget
   ========================================================================== */
	
	.ewf_widget_newsletter {}
	
	.ewf_widget_newsletter i {
		font-size: 32px;
		line-height: 40px;
	}
	
	#newsletter-subscribe-form {}
	
	#newsletter-subscribe-form input[type="text"] { 
		width: 100%;
		border: none;
		border-bottom: 1px solid #7a7885;
		margin-bottom: 20px;
	}
	
	#newsletter-subscribe-form input[type="submit"] {
		margin: 10px;
		text-transform: uppercase;
	}
	
	#newsletter-subscribe-form input[type="submit"]:hover { background-color: #5c5a69; }

/* =EWF Latest posts widget
   ========================================================================== */

	.ewf_widget_latest_posts {}
	
	.ewf_widget_latest_posts ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.ewf_widget_latest_posts img { 
		float: left;
		display: block;
		margin-right: 30px;
	}
	
	.ewf_widget_latest_posts .title {
		margin-left: 130px;
		font-weight: 900;
		text-transform: uppercase;
	}	
	
	.ewf_widget_latest_posts .post-details {
		padding: 5px 10px;
		background-color: #f6f6f6;
		letter-spacing: 1px;
	}
	
	#footer-wrapper .ewf_widget_latest_posts .post-details { background-color: #5c5a69; }
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.ewf_widget_latest_posts img { 
			float: none;
			margin-right: 0;
			margin-bottom: 10px;
		}
		
		.ewf_widget_latest_posts .title { margin-left: 0; }
		
	}
	
	@media (max-width: 767px) {
		
		.ewf_widget_latest_posts img { 
			float: none;
			margin-right: 0;
			margin-bottom: 10px;
		}
		
		.ewf_widget_latest_posts .title { margin-left: 0; }
		
	}
	
/* =EWF Navigation widget
   ========================================================================== */
	
	.ewf_widget_navigation {}
	
	.ewf_widget_navigation ul {
		margin-bottom: 0;
		list-style: none; 
	}
	
	.ewf_widget_navigation ul li {}
	
	.ewf_widget_navigation a {
		display: block;
		padding: 10px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 
	}
	
	.ewf_widget_navigation li:nth-child(odd) a { background-color: #f6f6f6; }
	
	.ewf_widget_navigation a:hover,
	.ewf_widget_navigation li:nth-child(odd) a:hover {
		background-color: #7a7885;
		color: #fff;
	}
	
	#footer-wrapper .ewf_widget_navigation li:nth-child(even) a { background-color: #5c5a69; }

/* =EWF Social media widget
   ========================================================================== */
	
	.ewf_widget_social_media {}
	
	.ewf_widget_social_media a.social-icon { margin-right: 15px; }
	.ewf_widget_social_media a.social-icon:last-child { margin-right: 0; }
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.ewf_widget_social_media:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}	
	
	#footer-wrapper .ewf_widget_social_media a.social-icon { border-color: #d7d7d7; }
	
	#footer-wrapper .ewf_widget_social_media a.social-icon:hover {
		border-color: #9b9aa2;
		color: #9b9aa2;
	}
	
	#footer-bottom .ewf_widget_social_media { float: right; }
	
	@media (max-width: 767px) {
		
		#footer-bottom .ewf_widget_social_media { float: left; }
		
	}

/* ==========================================================================
   =WordPress Comments
   ========================================================================== */
   
	.comments-title {}
	
	.comment-reply-title {}
	
	.commentlist .reply {}
	
	.commentlist .reply a {
		display: inline-block;
		padding: 2px 10px; 
		border: 2px solid #7a7885;
		border-radius: 3px;
		margin: 0 5px 20px 105px;
		background-color: transparent;
		color: #7a7885;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.commentlist .reply a:hover {
		background-color: #7a7885;
		color: #fff;
		text-decoration: none;
	}
	
	.commentlist .alt {}
	
	.commentlist .even {}
	
	.commentlist .even {}
	
	.commentlist .thread-alt {}
	
	.commentlist .thread-even {}
	
	.commentlist .thread-even {}
	
	.commentlist li ul.children .alt {}
	
	.commentlist li ul.children .even {}
	
	.commentlist li ul.children .even {}
	
	.commentlist .vcard {}
	
	.commentlist .vcard cite.fn {}
	
	.commentlist .vcard span.says { display: none; }
	
	.commentlist .vcard img.photo {
		float: left;
		display: block;
		border-radius: 50%;
		margin-right: 25px;
	}
	
	.commentlist .vcard img.avatar {}
	
	.commentlist .vcard cite.fn a.url {
		font-size: 16px;
		font-weight: 900;
		text-transform: uppercase;
	}
	
	.commentlist .comment-meta { margin-bottom: 20px; }
	
	.commentlist .comment-meta a {
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase; 
	}
	
	.commentlist .commentmetadata {}
	
	.commentlist .commentmetadata a {}
	
	.commentlist .parent {}
	
	.commentlist .comment {}
	
	.commentlist .children {}
	
	.commentlist .pingback {}
	
	.commentlist .bypostauthor {}
	
	.commentlist .comment-author {}
	
	.commentlist .comment-author-admin {}
	
	.commentlist {
		margin: 50px 0;
		list-style: none; 
	}
	
	.commentlist li {}
	
	.commentlist li p { margin-left: 105px; }
	
	.commentlist li ul {
		 margin-left: 0;
		list-style: none; 
	}
	
	.commentlist li .comment-body { margin-bottom: 30px; }
	
	.commentlist li ul.children li {}
	
	.commentlist li ul.children li.alt {}
	
	.commentlist li ul.children li.byuser {}
	
	.commentlist li ul.children li.comment {}
	
	.commentlist li ul.children li.bypostauthor {}
	
	.commentlist li ul.children li.comment-author-admin {}
	
	#cancel-comment-reply {}
	
	#cancel-comment-reply a {}
	
	@media (max-width: 767px) {
		
		.commentlist .vcard img.photo {
			float: none;
			margin-right: 0;
			margin-bottom: 20px;
		}
		
		.commentlist li p,
		.commentlist .reply a { margin-left: 0; }
		
	}
	
/* ==========================================================================
   =WordPress Comment Form
   ========================================================================== */	
   
   	.section-heading {}
	
	.nav-previous { display: none; }
	
	.nav-next { display: none; }
   
	.nocomments { display: none; }
	
	.must-log-in { display: none; }
	
	.logged-in-as { display: none; }

	#commentform { margin: 40px 0 60px 0; }
	
	.comment-notes { display: none; }
	
	.comment-form-author {}
	
	.comment-form-author label { display: none; }
	
	.comment-form-author input#author {}
	
	.comment-form-email {}
	
	.comment-form-email label { display: none; }
	
	.comment-form-email input#email {}
	
	.comment-form-url {}
	
	.comment-form-url label { display: none; }
	
	.comment-form-url input#url {}
	
	#commentform .required {}
	
	.comment-form-comment {}
	
	.comment-form-comment label { display: none; }
	
	.comment-form-comment textarea#comment {}
	
	.form-allowed-tags { display: none; }
	
	.form-allowed-tags code {}
	
	.form-submit {}
	
	#commentform #submit { text-transform: uppercase; }
	