.titulo_precio {
	
	display: none;
}


.bg_white{
	
	background-color: #fff !important;
	
	
}

.bg_white_none{
	
	background-color: #fff !important;
	
}

.bg_white .fa {
	color: green;
}

.bg_white_none .fa {
	color: grey;
}

.bg_white p {
	color:grey;
	display: none;
}

.bg_white_none p {
	color:grey;
	display: none;
}

.bg_grey{
	
	background-color: #f6f6f6 !important;
	
	
}

.bg_grey_none{
	
	background-color: #f6f6f6 !important;
	
}

.bg_grey .fa {
	color: green;
}

.bg_grey_none .fa {
	color: grey;
}

.bg_grey p {
	color:grey;
	display: none;
}

.bg_grey_none p {
	color:grey;
	display: none;
}



table#miyazaki { 
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Agenda-Light, sans-serif;
  font-weight: 100; 
  background: #333; color: #fff;
  text-rendering: optimizeLegibility;
  border-radius: 5px; 
}
table#miyazaki caption { 
  font-size: 2rem; color: #444;
  margin: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left, center right; 
}
table#miyazaki thead th { 
	
	font-size: 18px;
	color: gray;
	background-color: #f6f6f6 !important;
	font-family: Roboto, Arial, sans-serif;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	text-align: left;
	}
table#miyazaki thead th, table#miyazaki tbody td { 
  padding: .8rem; 
  font-size: 1.0rem;
  text-align: center;
}
table#miyazaki tbody td { 
  padding: .8rem; font-size: 1.4rem;
  color: #444; background: #eee; 
}
table#miyazaki tbody tr:not(:last-child) { 
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;  
}




@media screen and (max-width: 600px) {
  table#miyazaki caption { background-image: none; }
  table#miyazaki thead { display: none; }
  table#miyazaki tbody td { 
    display: block; padding: .6rem; 
  }
  table#miyazaki tbody tr td:first-child { 
    background: #666; color: #fff; 
  }
	table#miyazaki tbody td:before { 
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block;
    width: 6rem;  
  }
  
  table#miyazaki thead th, table#miyazaki tbody td  { 
  padding: .8rem; 
  font-size: 1.0rem;
  text-align: left;
}

  table#miyazaki thead th, table#miyazaki tbody td img  { 
  margin-left: 0px;
  padding-right: 10px;
}

	.logo_product{
		margin-left: -90px !important;
	}

.titulo_precio {
	 
	font-weight: bold;
	font-size: 14px;	
	color:black;
	display: inherit;
}
.precio {
	float:left;
	
	
	}

  .bg_white p {
	display: inherit;
	padding-left: 20px;
	}
	
	.bg_white .fa{
	margin-left: -88px;	
	
	}
	
	.bg_white_none p {
	display: inherit;
	padding-left: 20px !important;
	}
	
	.bg_white_none .fa{
	margin-left: -88px;	
	
	}
	
  .bg_grey p {
	display: inherit;
	padding-left: 20px;
	}
	
	.bg_grey .fa{
	margin-left: -88px;	
	
	}
	
	.bg_grey_none p {
	display: inherit;
	padding-left: 20px;
	}
	
	.bg_grey_none .fa{
	margin-left: -88px;	
	
	}	
}
@media screen and (max-width: 650px) {
	.precios_producto{
		display: none !important;
	}
}