
/*** GLOBAL ***/
@media (min-width: 1600px) {
 .container {
   width: 1550px;
 }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 220px;
  font-family: "Ubuntu", sans-serif;
}
h2{
	color: #006db0;
    text-align: left;
    font-size: 34px;
	font-weight: 300;
	margin-bottom:25px;
}
p, ul, li {font-size: 17px;font-weight: 300;margin-bottom: 5px;}
p {margin-top: 15px;margin-bottom:30px;}

.table p{ margin:10px;}

.btn {color: #000; border:1px solid #000;border-radius:3px;background-color: transparent;}
.btn:hover{color:#fff; background-color:#000;}
.btn.btn-blue {border-color: #0072C6;color:#0072C6;}
.btn.btn-blue:hover{color:#fff;background-color:#0072C6;}
.btn.btn-right {float:right;}


.panel-analysis{border-color:#D24726;}
.panel-etl{border-color:#0072C6;}
.panel-analysis .panel-footer{background-color:#D24726;}
.panel-etl .panel-footer{background-color:#0072C6;}

.col-centered{display:inline-block; text-align: left; float: none;}
.row-centered{text-align:center;}

.icon:before{font-family:'FontAwesome';font-size:30px;vertical-align:middle;}
.icon-phone:before {content:"\f095";}
.icon-mail:before {content:"\f0e0";font-size: 25px;}
.icon-facebook:before{content:"\f09a";}
.icon-twitter:before{content:"\f099";}
.icon-linkedin:before{content:"\f0e1";}
.icon-youtube:before{content:"\f167";}

.glyphicon {vertical-align: text-top;margin:0 5px;}

.section{
	position: relative;
	bottom: 0;
	width: 100%;
	height: auto;
	left:0;
	padding-top:30px;
	padding-bottom:50px;
}

.section h2 {margin-top:0px;}
.section img.logo {display:block;margin: 0 0 50px auto;}

.section .panel{border-radius:0;}
.section .panel img{display:block; margin:0 auto 30px auto;}

.section .panel-body{min-height:276px;}
.section .panel-footer{text-align:right; color:#fff; border-radius:0; text-transform:uppercase; font-size:20px;}
.section .panel-footer a {color:#fff;text-decoration: none;}

.section.yellow-background {background-color:#ffcc01}
.section.yellow-background h2 {color: black;}
.section.yellow-background .btn:hover {color: #ffcc01;}

.sidebar > div {color: #fff;padding: 5px;background-color: #06619a;}
.sidebar > div:nth-of-type(2n+1) {background-color: #1d2f57;}

/**  ======== HEADER  ======== **/
.header{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	min-height: 65px;
	text-transform: uppercase;
}

.header img{max-height: 43px;margin-left: 10px;}
.header a{	color: #757776;}
.header a:hover{text-decoration: none;}

.header .btn{
	border-color:#e31e25;
	background-color: #e31e25;
	color: #fff;
}

.header-left-part{
	width:50%;
	float:left;
	text-align: left;
}

.header-right-part{
	width:50%;
	float:right;
	text-align: right;
	margin-top: 5px;
}	

.header-right-part a{
	margin-right: 5px;
	margin-bottom: 0;
	vertical-align: middle;
}

.page-caption{
	background-image: url(img/header_home.jpg);
	background-position: center;
	background-size:cover;
	color: #fff;
	text-align:center;
	
}
.page-caption p {margin-top:20px;font-size:15px;}
.page-caption a{color: #fff;}

.page-caption .container {padding: 30px 0;}
.page-caption .container h1{font-size: 50px;max-width:670px;text-align:center; margin:0 auto}
.page-caption .btn{color:#fff;border:1px solid #fff;background-color:transparent;}
.page-caption .btn:hover{color: #365691;background-color:#fff;}
.page-caption .container .btn {
	display: block;
    font-size: 20px;
    margin: 30px auto;
    max-width: 190px;
    text-transform: uppercase;
}


	
/**  ======== FOOTER  ======== **/
footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #C5C7C6;
  left:0;
}
footer .container {margin-top:30px;}
footer address{margin-top:20px;}

.business-info {margin-bottom:20px;}
.business-info a{color:#333;}
.business-info a:hover{color:#333;text-decoration:none;}
.business-info .icon:before{margin:0 10px 0 0;}


.footer-links {color:#2B2A28;font-weight:100;font-size:15px;}
.footer-links:hover {color:#ccc;text-decoration:none;}


.social-media-footer {text-align:center;margin: 5px auto;}
.social-media-footer a{width:65px;display:inline-block;color:#C5C7C6;margin:5px;background-color:#2B2A28;padding:10px 10px;vertical-align: middle;}
.social-media-footer a:hover{color:#fefefe;text-decoration:none;}

.social-media-footer .icon:before {font-size:26px;font-weight:300;}
.social-media-footer .icon-youtube:before {font-size:40px;}
.social-media-footer a.icon-youtube { padding: 0;}

.sm-text {clear:both;font-size:18px;font-weight:bold;color:#C5C7C6;text-align:center;}

.boton-newsletter {
    background: #2B2A28 none repeat scroll 0 0;
    color: #C5C7C6;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
    float: right;
    margin-top: -5px;
}
.boton-newsletter:hover {
    background: #2B2A28 none repeat scroll 0 0;
    color: #fefefe;
    text-decoration: none;
}
.suscripcion {position:absolute;right:0;bottom:0;}
.subscribe-text{margin-right: 180px;float:right;position:relative;z-index:100}
.suscripcion h4{font-size: 16px;text-align: right;text-transform: uppercase;}
.subscribe-girl {display:inline-block;float:right;margin-top:-65px;clear:both;position:relative;z-index:0}







/**  ======== HOME  ======== **/
.home .page-caption{min-height:665px;}

.home .page-caption .container {padding-top: 200px;}
.home .page-caption .container h1 {font-size:36px;}



/* ======== HOME SECTIONS ========*/
/* Business Intelligence */
.business-intelligence{ background-color: #EBEDEC;}

/* Download */
.download {
  background-image: url(img/portatil.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size:contain;
}


/* ======== END HOME SECTIONS ======== */
/* ======== END HOME ======== */




/* ======== PRODUCTS ======== */
.btn-download {display:block;margin:0 auto;text-align:center;margin-top:15px;}

/* ======== PRODUCTS SECTIONS ========*/
/* Crono Analysis */
#crono-analysis .btn-download .btn{border-color: #fff;color:#fff}
#crono-analysis .btn-download .btn:hover{background-color: #fff;color:#D24726;}
#crono-analysis {background-color: #D24726;}
#crono-analysis p{padding-right:50px; text-align:left; color:#fff;}
#crono-analysis h2{text-align:left; color:#fff;}

/* Crono Excel */
.crono-excel h2{text-align:right;}

/* Crono ETL */
#crono-etl {background:#0072C6;}
#crono-etl p{text-align:left; color:#fff;}
#crono-etl h2{color:#fff;}

/* Solutions */
.solutions {background:#EAECEB;}

/* Features */
.features thead{background-color:#D24726; color:#fff;}



/* ======== END PRODUCTS SECTIONS ======== */
/* ======== END PRODUCTS ======== */




/* ======== SERVICES ======== */
/* ======== SERVICES SECTIONS ========*/

/* ======== END PRODUCTS SECTIONS ======== */
/* ======== END PRODUCTS ======== */



/*  ======== BLOG  ======== */
.blog h2, .blog h3 {color: #236a4c}
.blog .page-caption {background-image: url(img/header_home_green.jpg);}

/* ======== END BLOG ======== */

/*** RESPONSIVE ***/

@media screen and (max-width: 1920px) {
.home .page-caption {min-height:1080;}
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
footer {
    position: absolute;
    bottom: none;
    width: 100%;
    height: auto;
    background-color: #C5C7C6;
    left: 0;
}
.social-media-footer {
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
}

.sm-text {
    clear: both;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-left: 10px;
	margin-bottom: 30px;
}

}



@media screen and (max-width: 767px) {


}

@media screen and (max-width: 600px) {
.sm-text {margin-left:-5px;}
}

@media screen and (max-width: 414px) {

.social-media-footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
	margin-top: 20px;
}
.social-media-footer a {
    margin: 5px;
}
.sm-text {margin-left:-5px !important;}

.sm-text {margin-left: 25px;}

}



@media screen and (max-width: 380px) {
	
}

@media screen and (max-width: 320px) {


}