
/*** GLOBAL ***/
@media (min-width: 1600px) {
 .container {
   width: 1550px;
 }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 220px;
  font-family: "Ubuntu", sans-serif;
}
h2{
	color: #006db0;
    text-align: left;
    font-size: 34px;
	font-weight: 300;
	margin-bottom:25px;
}
p, ul, li {font-size: 17px;font-weight: 300;margin-bottom: 5px;}
p {margin-top: 15px;margin-bottom:30px;}

.site-section-content {padding-bottom: 50px;padding-top: 70px;}
.table p{ margin:10px;}

.btn {color: #000; border:1px solid #000;border-radius:3px;background-color: transparent;}
.btn:hover{color:#fff; background-color:#000;}
.btn.btn-colored {border-color: #0072C6;color:#0072C6;}
.btn.btn-colored:hover{color:#fff;background-color:#0072C6;}
.btn.btn-right {float:right;}
div.btn-centered {display: block;margin-left: auto;margin-right:auto;margin-top:15px;text-align: center;}


.panel-analysis{border-color:#D24726;}
.panel-etl{border-color:#0072C6;}
.panel-analysis .panel-footer{background-color:#D24726;}
.panel-etl .panel-footer{background-color:#0072C6;}

.col-centered{display:inline-block; text-align: left; float: none;}
.row-centered{text-align:center;}

a.icon {text-decoration:none;color:inherit;}
.icon:before{font-family:'FontAwesome';font-size:30px;vertical-align:middle;}
.icon-phone:before {content:"\f095";}
.icon-mail:before {content:"\f0e0";font-size: 25px;}
.icon-facebook:before{content:"\f09a";}
.icon-twitter:before{content:"\f099";}
.icon-linkedin:before{content:"\f0e1";}
.icon-youtube:before{content:"\f167";}

.glyphicon {vertical-align: text-top;margin:0 5px;}

.social-media {text-align:center;margin: 5px auto;}
.social-media a {width:65px;display:inline-block;margin:5px;padding:10px 10px;vertical-align: middle;}
.social-media a:hover{text-decoration:none;}

.social-media .icon:before {font-size:26px;font-weight:300;}
.social-media .icon-youtube:before {font-size:40px;}
.social-media a.icon-youtube { padding: 0;}

.section{
	position: relative;
	bottom: 0;
	width: 100%;
	height: auto;
	left:0;
	padding-top:30px;
	padding-bottom:50px;
}

.section h2 {margin-top:0px;}
.section img.logo {display:block;margin: 0 0 50px auto;}

.section .panel{border-radius:0;}
.section .panel img{display:block; margin:0 auto 30px auto;}

.section .panel-body{min-height:276px;}
.section .panel-footer{text-align:right; color:#fff; border-radius:0; text-transform:uppercase; font-size:20px;}
.section .panel-footer a {color:#fff;text-decoration: none;}

.section.yellow-background {background-color:#ffcc01}
.section.yellow-background h2 {color: black;}
.section.yellow-background .btn:hover {color: #ffcc01;}

.sidebar {
	background-color: #236a4c;
	border-radius: 25px;
	color: #fff;
	margin-left: 30px;
	padding: 10px 20px;
}
.sidebar a {color:#fff;text-decoration:none;}
.sidebar .btn {border-color: white;}
.sidebar .btn:hover {background-color: #fff;color: #236a4c;}
.sidebar .subscribe-girl {max-height:170px;margin-left:auto;margin-bottom:-10px;}

div#disqus_thread {padding-top:150px;}

/**  ======== HEADER  ======== **/
.header{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	min-height: 65px;
	text-transform: uppercase;
}

.header img{max-height: 43px;margin-left: 10px;}
.header a{	color: #757776;}
.header a:hover{text-decoration: none;}

.header-left-part{
	width:50%;
	float:left;
	text-align: left;
}

.header-right-part{
	width:50%;
	float:right;
	text-align: right;
	margin-top: 5px;
}	

.header-right-part a{
	margin-right: 5px;
	margin-bottom: 0;
	vertical-align: middle;
}

.page-caption{
	background-image: url(img/header_home.jpg);
	background-position: center;
	background-size:cover;
	color: #fff;
	text-align:center;
	
}
.page-caption p {font-size: 20px;margin: 25px auto 0;text-align: left;width: 70%;}
.page-caption a{color: #fff;}
.page-caption a.return-crono {color:#c7c7c7;}

.page-caption .container {padding: 30px 0;}
.page-caption .container h1{font-size: 50px;max-width:670px;text-align:center; margin:0 auto}
.page-caption .btn{color:#fff;border:1px solid #fff;background-color:transparent;}
.page-caption .btn:hover{color: #365691;background-color:#fff;}
.page-caption .container .btn {
	display: block;
    font-size: 20px;
    margin: 30px auto;
    max-width: 190px;
    text-transform: uppercase;
}


	
/**  ======== FOOTER  ======== **/
footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #C5C7C6;
  left:0;
}
footer .container {margin-top:30px;}
footer address{margin-top:20px;}

.business-info {margin-bottom:20px;}
.business-info a{color:#333;}
.business-info a:hover{color:#333;text-decoration:none;}
.business-info .icon:before{margin:0 10px 0 0;}


.footer-links {color:#2B2A28;font-weight:100;font-size:15px;}
.footer-links:hover {color:#ccc;text-decoration:none;}



footer .social-media a{color:#C5C7C6;background-color:#2B2A28;}
footer .social-media a:hover{color:#fefefe;}

.sm-text {clear:both;font-size:18px;font-weight:bold;color:#C5C7C6;text-align:center;}

.boton-newsletter {
    background: #2B2A28 none repeat scroll 0 0;
    color: #C5C7C6;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
    float: right;
    margin-top: -5px;
}
.boton-newsletter:hover {
    background: #2B2A28 none repeat scroll 0 0;
    color: #fefefe;
    text-decoration: none;
}
.suscripcion {position:absolute;right:0;bottom:0;}
.subscribe-text{margin-right: 180px;float:right;position:relative;z-index:100}
.suscripcion h4{font-size: 16px;text-align: right;text-transform: uppercase;}
footer .subscribe-girl {display:inline-block;float:right;margin-top:-65px;clear:both;position:relative;z-index:0}







/**  ======== HOME  ======== **/
.home .page-caption{min-height:665px;}

.home .page-caption .container {padding-top: 200px;}
.home .page-caption .container h1 {font-size:36px;}



/* ======== HOME SECTIONS ========*/
/* Business Intelligence */
.business-intelligence{ background-color: #EBEDEC;}

/* Download */
.download {
  background-image: url(img/portatil.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size:contain;
}


/* ======== END HOME SECTIONS ======== */
/* ======== END HOME ======== */




/* ======== PRODUCTS ======== */
/* ======== PRODUCTS SECTIONS ========*/
/* Crono Analysis */
#crono-analysis .btn-download .btn{border-color: #fff;color:#fff}
#crono-analysis .btn-download .btn:hover{background-color: #fff;color:#D24726;}
#crono-analysis {background-color: #D24726;}
#crono-analysis p{padding-right:50px; text-align:left; color:#fff;}
#crono-analysis h2{text-align:left; color:#fff;}

/* Crono Excel */
.crono-excel h2{text-align:right;}

/* Crono ETL */
#crono-etl {background:#0072C6;}
#crono-etl p{text-align:left; color:#fff;}
#crono-etl h2{color:#fff;}



/* Features */
.features thead{background-color:#D24726; color:#fff;}



/* ======== END PRODUCTS SECTIONS ======== */
/* ======== END PRODUCTS ======== */




/* ======== SERVICES ======== */
/* ======== SERVICES SECTIONS ========*/

/*Data-consultor*/
.data-consultor .img-responsive{margin:-45px auto;}

/*bi-consultor*/
.bi-consultor .img-responsive{padding:5px 20px 0px 20px;}

/* ======== END SERVICES SECTIONS ======== */
/* ======== END SERVICES ======== */




/* ======== PRICE ======== */
/* ======== PRICE SECTIONS ========*/

/* Price listing */
.price-listing .panel {min-height: 500px;}
.price-listing .panel h4 {text-align:center;margin-bottom:30px;}
.price-listing .panel p {text-align: justify;}
.price-listing .panel .price {color:#7a7885;position:absolute; text-align:center; bottom: 15px;font-size: 230%;font-weight: bolder;left: 0;right: 0;}

/* Considerations */
.considerations {padding-top:20px;}
.considerations .btn {margin-top:20px;text-transform:uppercase;}

/* ======== END PRICE SECTIONS ======== */
/* ======== END PRICE ======== */




/* ======== CONTACT ======== */
/* ======== CONTACT SECTIONS ======== */

/* Contact info */
.contact-info {padding-top: 90px;}
.contact-info p {margin-top:0;margin-bottom:0;}

/* Contact form */
textarea.form-control {margin: 20px 0;}

/* ======== END CONTACT SECTIONS ======== */
/* ======== END CONTACT ======== */





/*  ======== BLOG  ======== */

.blog h2, .blog h3 , .blog h2 a, .blog h3 a {color: #236a4c;text-decoration:none;}
.blog h2 {border-bottom: 1px solid #236a4c;}

.blog .page-caption {background-image: url(img/header_home_green.jpg);}
.blog .page-caption .btn:hover{color:#236a4c;}

.blog .sidebar h2, .blog .sidebar h3 {color: #fff;}
.blog .btn.btn-colored {color: #236a4c;border-color:#236a4c;}
.blog .btn.btn-colored:hover {color: #fff;background-color:#236a4c;}



/* Home */
.post-listing {margin-bottom: 30px;}
.post-listing > div {background-color: transparent;}
.post-listing > div:nth-of-type(2n+0) {background-color: #eaeceb;}

.post-listing .blog-post {padding: 20px;}
.post-listing .blog-post h3 {margin-top: 0;}
.post-listing .blog-post .meta {font-size:12px;}
.post-listing .blog-post .meta .icon:before {font-size:20px;margin-right:5px;}


/* Post */
.blog-post-full .navigator, .blog-post-full .post-caption {color: #7a7885;}
.blog-post-full .navigator {float:right;margin-right:10px;font-size:24px;}
.blog-post-full .navigator .arrows {display:inline-block;}
.navigator span {vertical-align:middle; margin:auto 5px;}
.arrows .icon:before {font-size:175%;margin:7px 2px;}
.arrows .icon.no-hover:hover {color: inherit;}
.arrows .icon:hover {color: #d27e36;}

.post-caption img {display:block;max-width: 100%;}
.post-caption .meta .icon:before{font-size:inherit;}
.post-caption .meta span{margin-right:15px;}


.socialshare {margin-top:40px;margin-bottom:25px;}
.socialshare ol
{
	list-style:none;
	padding:0px;
	margin-left:5px;
	float:left;
}
.socialshare span
{
	float:left;
	font-size:80%;
	color:#5b5b5b;
	font-weight:bold;
	line-height:110%;
	text-align:right;
}
.socialshare ol li
{
	width:30px;
	text-align:center;
	height:30px;
	padding-top:3px;
	padding-bottom:3px;
	float:left;
	margin-right:5px;
	color:#FFF;
}
.socialshare ol li a{color:#FFF;}
.socialshare .icon:before {font-size:17px;}
.socialshare .fb{background:#3a589b;}
.socialshare .tw{background:#598dca;}
.socialshare .in{background:#007ab9;}
.socialshare .go{background:#d95333;}
.socialshare .pi{background:#bd2125;}
.socialshare .ma{background:#c8a723;}

/* ======== END BLOG ======== */





/*  ======== SUPPORT  ======== */
.support-content {padding-bottom: 50px;padding-top: 70px;}

.support .btn:hover{color:#9A3441;}
.support .page-caption {background-image: url(img/header_home_red.jpg);}
.support h2,.support h3{color:#9A3441; margin-bottom:10px;}
.support li a{color:#9A3441;}

.support .support-section{margin-bottom:60px;}

.support .img-responsive{margin:0 auto;}





/* ======== END SOPORTE ======== */

/*** RESPONSIVE ***/


@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #C5C7C6;
    left: 0;
}
footer .social-media {
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
}

.sm-text {
    clear: both;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-left: 10px;
	margin-bottom: 30px;
}

}



@media screen and (max-width: 767px) {


}

@media screen and (max-width: 600px) {
.sm-text {margin-left:-5px;}
}

@media screen and (max-width: 414px) {

footer .social-media {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
	margin-top: 20px;
}
footer .social-media a {
    margin: 5px;
}
.sm-text {margin-left:-5px !important;}

.sm-text {margin-left: 25px;}

}



@media screen and (max-width: 380px) {
	
}

@media screen and (max-width: 320px) {


}