---
UniqueId: qWouuhCSBr
Title: "Todos los artículos de Crono Business Intelligence"
Url: blog/archive.html
Layout: layouts/blog.cshtml
Id: 0

---

<div class="row">
	<div class="span9">
		<h1 class="page-title">Arcihvo</h1>
	</div>
</div>

@{
  var posts=(from post in Site.FindSectionByName("Blog").Pages where !post.Date.IsMinDate() orderby post.Date descending select post);
  foreach(var post in posts){
	<div class="blog-post">
		<div class="row">
			<div class="span4">
				@if(post.Image!=null){<div class="imgpost"><img src="@Root/blog/images/@post.Image"></div>
				<p class="blog-post-meta">
					<span><i class="fa fa-archive"></i>@post.ShortDate</span>
					<span><i class="fa fa-tags"></i>business, intelligence, quote</span>
				</p>}
			</div>
			<div class="span4">
				<h2 class="blog-post-title"><a href="@Root/@post.Url">@post.Title</a></h2>
				<div class="intro">
					<p>@post.Description</p>
				</div>
			<a href="@Root/@post.Url" class="readmore">Leer más</a> </div>
		</div>
	</div>
}}