---
Layout: layouts/base.cshtml
---
@{
	var ShowHeader=true;
}
<div id="wrap" class="blog">
	<div class="sections-header">
		<div class="header-left-part">
			<a class="header-divider" href="@Root/blog/index.html"><img src="@Root/images/logo.png" /></a>
		</div>
		<div class="header-right-part">
			<a href="@Root/index.html" role="button">Volver a Crono</a>
			<a class="btn" href="@Root/crono-contacto.html" role="button">Contacto</a>
		</div>
	</div>

    <div id="content" class="blogc">
	   <div class="header-caption">
			<div class="container">
				<h1>@Page.Title</h1>
				<p><i class="fa fa-archive"></i>@Page.ShortDate</p>
				<p><i class="fa fa-tags"></i>bussines, intelligence, quote</p>
				  
			</div>
		</div>
	    <div class="row">
			<div class="span8 blog-main">
				@RenderBody()
			</div>
    
			
			<div class="span4 col-md-push-1 blog-sidebar">
				
				<div class="sidebar-module">
					<h4><a href="@Root/blog/index.html"><i class="fa fa-home"></i></a>Seré breve</h4>
					<p>En este blog compartiremos pequeñas reflexiones sobre el mundo de la tecnologia en general y el Bussines Inteligence en particular. Valoramos tu tiempo y por este motivo los articulos serán breves. Lo bueno, si breve, dos veces bueno.</p>
				</div>
				<div class="sidebar-module ligth-module">
					<p>Suscríbete a nuestra lista de correo con contenido original y exclusivo. Es gratis.</p>
					<a href="http://eepurl.com/cgScH9" class="btn">¡Claro que sí!</a>
					<a href="http://eepurl.com/cgScH9"><img src="@Root/images/suscribete.png" title="¡Suscríbete!"></img></a>
				</div>
				<div class="sidebar-module sd-mod-sinpie">
					<h4>Redes sociales</h4>
					<p>Tambien puedes seguirnos en Linkedin , Facebook o Twitter</p>
					<ol class="list-social list-unstyled">
					<li><a href="https://www.linkedin.com/company/businessintelligence"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://twitter.com/bifacil"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/CronoBusinessIntelligence"><i class="fa fa-facebook"></i></a></li>
					</ol>
				</div>
				<div class="sidebar-module">
					<h4>Archivo</h4>
					<ol class="list-unstyled">
					<li><a href="@Root\blog\archive.html">2016</a></li>
					</ol>
				</div>
			</div>    
		</div>
 	</div>
</div>