---
Layout: layouts/blog.cshtml
---

@{
    var allArticles = (from p in Site.Pages where p.Section == Page.Section && p.Layout == null orderby p.Date select p.Url).ToList();
    var index = allArticles.IndexOf(Page.Url) + 1;
}

<div class="blog-post-full">
    <div class="navigator">
		<span>Artículo @index/@allArticles.Count()</span>
        <div class="arrows">            
            @if (PreviousPage != null)
            {<a class="icon fa-arrow-circle-o-left" href="@Root/@PreviousPage.Url"></a>}
            @if (PreviousPage == null)
            {<a class="icon fa-circle-o"></a>}
            @if (NextPage != null)
            {<a class="icon fa-arrow-circle-o-right" href="@Root/@NextPage.Url"></a>}
            @if (NextPage == null)
            {<a class="icon fa-circle-o no-hover"></a>}

        </div>
    </div>

@if (Page.Image != null)
{
    <div class="post-caption">
		<img src="@Root/blog/images/@Page.Image">
		<p class="meta">
			<span class="icon fa-archive"></span><span>@Page.ShortDate</span>
			<span class="icon fa-tags"></span><span>bussines, intelligence, quote</span>
		</p>
	</div>
    
}
				
				
    <div>
        <h2>@Page.Title</h2>
        <div>
            @RenderBody()
        </div>
    </div>
    
	<div class="socialshare">
        <span>
            Comparte<br>
            este articulo
        </span>
        <ol>
            <li class="tw"><a class="icon icon-twitter" href="javascript:void(0)" onclick="javascript:OpenPopup('http://twitter.com/share?text=@Page.Description&url=@Site.BaseUrl/@Page.Url')"></a></li>
            <li class="in"><a class="icon icon-linkedin" href="javascript:void(0)" onclick="javascript:OpenPopup('http://www.linkedin.com/shareArticle?mini=true&url=@Site.BaseUrl/@Page.Url')"></a></li>
            <li class="fb"><a class="icon icon-facebook" href="javascript:void(0)" onclick="javascript:OpenPopup('https://www.facebook.com/sharer/sharer.php?u=@Site.BaseUrl/@Page.Url')"></a></li>
            <li class="go"><a class="icon fa-google-plus" href="javascript:void(0)" onclick="javascript:OpenPopup('https://plus.google.com/share?url=@Site.BaseUrl/@Page.Url')"></a></li>
            <li class="pi"><a class="icon fa-pinterest" href="javascript:void(0)" onclick="javascript:OpenPopup('http://pinterest.com/pin/create/button/?url=@Site.BaseUrl/@Page.Url')"></a></li>
            <!-- <li class="ma"><a href="#"><i class="fa fa-envelope-o"></i></a></li> -->
        </ol>
    </div>

    <div id="disqus_thread"></div>
</div>
