---
Visible: NO
---
<!-- FOOTER -->
<div id="footer-wrapper">
	<div class="row">
		<div class="span12">
			<div id="footer">
				<div class="row">
					
					<div class="span4" id="footer-widget-area-1">
						<div class="widget widget_text">
							<div class="textwidget">
								<img class="img-align-left hidden-tablet" src="@Root/images/footer-logo.png" alt="">
								<address>
									<span class="text-uppercase">Crono Analytics<sup>&copy;</sup></span>
									<br>Numancia 74,
									<br>08029, Barcelona
								</address>
							</div>
						</div>
					</div>
					
					<div class="span4" id="footer-widget-area-2">
						<div class="widget ewf_widget_contact_info">
							<ul>
								<li><strong>Teléfono: </strong>93 802 92 64 </li>
								<li><strong>Email: </strong><a href="mailto:info@crono.net">info@crono.net</a></li>
							</ul>
						</div>
					</div>

					<div class="span4" id="footer-widget-area-3">
						<div class="widget ewf_widget_contact_info">
							<ul>
								<li><strong>Blog: </strong><a href="http://www.businessintelligence.info/" target="_blank">www.businessintelligence.info</a></li>
								<li><strong>YouTube: </strong><a href="https://www.youtube.com/c/BusinessIntelligenceInfo" target="_blank">www.youtube.com</a></li>
								<li><strong>Facebook: </strong><a href="https://www.facebook.com/CronoBusinessIntelligence" target="_blank">www.facebook.com</a></li>
								<li><strong>LinkedIn: </strong><a href="https://www.linkedin.com/company/businessintelligence" target="_blank">www.linkedin.com</a></li>
								<li><i class="fa fa-twitter"></i><a href="https://twitter.com/bifacil" target="_blank">@@bifacil</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
            <div id="footer-bottom">
				<div class="row">
					<div class="span6" id="footer-bottom-widget-area-1">
						<div class="widget widget_text">
							<div class="textwidget">
								<p class="text-uppercase last"><strong>Todos los derechos reservados &copy; 2015 Crono Analytics</strong></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<a id="back-to-top" href="#"><i class="ifc-up4"></i></a>