<footer class="footer">
	<div class="container foot">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12 ajuste-footer-tablet business-info">
				<div>
					<img class="img-align-left hidden-tablet" src="@Root/images/footer-logo.png" alt="">
					<address>
						<strong>Crono Analytics<sup>&copy;</sup></strong>
						<br>Numancia 74,
						<br>08029, Barcelona
					</address>
				</div>
				
				<div>
					<span class="icon icon-phone">93 802 92 64</span>
				</div>
				<div>
					<a class="icon icon-mail" href="mailto:info@crono.net">info@crono.net</a></li>
				</div>
			</div>
		
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="social-media-footer">
					<a class="icon-linkedin" href="https://www.linkedin.com/company/businessintelligence"></a>
					<a class="icon-twitter" href="https://twitter.com/bifacil"></a>
					<a class="icon-facebook" href="https://www.facebook.com/CronoBusinessIntelligence/"></a>
					<a class="icon-youtube" href="https://www.youtube.com/c/BusinessIntelligenceInfo"></a>
				</div>
				<div class="sm-text">
					<span>Síguenos en Redes Sociales</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12" style="height:235px">
				<!-- Este div está solo como fix para que la chica quede completamente abajo a la derecha
					Con tal de hacer eso, el div de la chica tiene que tener position absolute, y al tener position absolute su height es 0,
					con este div simulamos que hay un elemento con el height del de la chica
				-->
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 suscripcion">
				<div class="subscribe-text">
					<h4>LA MEJOR <strong>NEWSLETTER</strong> SOBRE BI</h4>
					<a class="boton-newsletter" href="@Root/subscribe.html">QUIERO SUSCRIBIRME</a>
				</div>
				<div class="subscribe-girl">
					<img src="@Root/images/subscribe-datawarehouse.png" width="210" height="auto" alt="" />
				</div>
			</div>
		</div>
	</div>
</footer>
