<div class="sections-header">
	<div class="header-left-part">
		<a href="index.html"><img src="@Root/images/logo.png" /></a>
	</div>
	<div class="header-right-part">
		<a href="@Root/index.html">Inicio</a>
		<a href="@Root/crono-analysis.html">Productos</a>
		<a href="@Root/crono-precios.html">Precios</a>
		<a href="@Root/soporte/index.html">Soporte</a>
		<a href="@Root/blog/index.html">Blog</a>
		<a class="btn" href="@Root/crono-contacto.html">Contacto</a>
	</div>
</div>
	