
@{
	var logo=(@Page.Url=="index.html")?"logo-white.png":"logo.png";
}
<div class="header">
	<div class="header-left-part">
		<a href="index.html"><img src="@Root/images/@logo" /></a>
	</div>
	<div class="header-right-part">
		<a href="@Root/index.html">Inicio</a>
		<a href="@Root/productos.html">Productos</a>
		<a href="@Root/servicios.html">Servicios</a>
		<a href="@Root/soporte/index.html">Soporte</a>
		<a href="@Root/blog/index.html">Blog</a>
		<a class="btn" href="@Root/crono-contacto.html">Contacto</a>
	</div>
</div>
	