---
Visible: NO
---

<!-- HEAD -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    
	<title>@Page.Title</title>
	<meta name="description" content="@Page.Description">

	<link href="@Site.BaseUrl/rss.xml" rel="alternate" type="application/rss+xml" title="(RSS)" />
	<link href="@Site.BaseUrl/@Page.Url" rel="canonical" />

	
	<!-- Favicons -->
	<link rel="shortcut icon" href="@Root/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png">

	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic,900,900italic">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,700">

	<!-- FontAwesome Icons 4.2.0 ////////  -->
	<link rel="stylesheet" href="@Root/css/fontawesome/font-awesome.min.css">

	<!-- Custom Icon Font -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="@Root/css/iconfontcustom/icon-font-custom.css">

	<!-- Template CSS -->
	<link rel="stylesheet" href="@Root/css/base.css">
	<link rel="stylesheet" href="@Root/css/grid.css">
	<link rel="stylesheet" href="@Root/css/layout.css">
	<link rel="stylesheet" href="@Root/css/elements.css">
	<link rel="stylesheet" href="@Root/css/crono.css">
    <link rel="stylesheet" href="@Root/css/blog.css">

	<!-- /// JS Plugins CSS ////////  -->
	<link rel="stylesheet" href="@Root/js/revolutionslider/css/settings.css">
	<link rel="stylesheet" href="@Root/js/revolutionslider/css/custom.css">
	<link rel="stylesheet" href="@Root/js/bxslider/jquery.bxslider.css">
	<link rel="stylesheet" href="@Root/js/magnificpopup/magnific-popup.css">
	<link rel="stylesheet" href="@Root/js/animations/animate.min.css">
	<link rel="stylesheet" href="@Root/js/itplayer/css/YTPlayer.css">
    <link rel="stylesheet" href="@Root/js/odometer/odometer.css">


	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-26559605-1', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
