
<div class="section">
    <div class="container">
        <div class="row row-centered">
            <div class="col-md-4 col-centered">
                <div class="panel panel-analysis">
                    <div class="panel-body">
                        <img src="@Root/images/logo_crono_analysis.png" />
                        <p>Crono Analysis revoluciona la manera de acceder a la información. Con Crono Analysis los usuarios pueden realizar estudios de mercado, analizar tendencias o detectar situaciones anómalas de una manera rápida, visual y fiable.</p>
                    </div>
                    <div class="panel-footer">Informarse</div>
                </div>
            </div>
            <div class="col-md-4 col-centered">
                <div class="panel panel-etl">
                    <div class="panel-body">
                        <img src="@Root/images/logo_crono_etl.png" />
                        <p>Crono ETL reimagina la manera de crear los procesos de aprovisionamiento del Data Warehouse Corporativo.</p>
                    </div>
                    <div class="panel-footer">Informarse</div>
                </div>
            </div>
        </div>
    </div>
</div>
	