<div class="social-media">
	<a class="icon icon-linkedin" href="https://www.linkedin.com/company/businessintelligence"></a>
	<a class="icon icon-twitter" href="https://twitter.com/bifacil"></a>
	<a class="icon icon-facebook" href="https://www.facebook.com/CronoBusinessIntelligence/"></a>
	<a class="icon icon-youtube" href="https://www.youtube.com/c/BusinessIntelligenceInfo"></a>
</div>