---
Layout: layouts/base.cshtml
---
@{
	var ShowHeader=true;
}
<div id="wrap" class="soporte">
	<div class="sections-header">
		<div class="header-left-part">
			<a class="header-divider" href="@Root/soporte/index.html"><img src="@Root/images/logo.png" /></a>
		</div>
		<div class="header-right-part">
			<a href="@Root/index.html" role="button">Volver a Crono</a>
			<a class="btn" href="@Root/crono-contacto.html" role="button">Contacto</a>
		</div>
	</div>
	
	<div class="header-caption">
		<div class="container">
			<h1>Manual de Crono</h1>
		</div>
	</div>

    <div id="content" class="blogc">
	   @if(ShowHeader==true){<div id="page-header" style="background-image:url(@Root/images/backgrounds/head-blog.jpg);"></div>}
	   <div class="row">
			<div class="span8 blog-main">
				@RenderBody()
			</div>
     
		</div>
 	</div>
</div>